<div class="no-padding tabs-div">

            <div class="col-md-8 col-sm-12 col-xs-12 election-tabs-link">
                <p class="tab-link">Избори / бирачких спискова <span class="arrow_shape">▼</span></p>
                <div class="arrow"></div>
                {%  if typeizbori %}
                    {% if typeizbori=="parlamentarni" %}
                            <p class="selected-type">Парламентарни > {{ year }}</p>
                        {% endif %}
                    {% if typeizbori=="predsjednicki" %}
                            <p class="selected-type">Председнички > {{ year }}</p>
                        {% endif %}
                {%  endif %}
            </div>
        <div class="col-md-4 col-sm-12 col-xs-12 social-icons">
            <div id="fb-root"></div>
            <script>
                    (function(d, s, id) {
                  var js, fjs = d.getElementsByTagName(s)[0];
                  if (d.getElementById(id)) return;
                  js = d.createElement(s); js.id = id;
                  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=1778236145760204";
                  fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));
            </script>
                <div class="fb-share-button" data-href="http://0.0.0.0:5024/" data-layout="button" data-size="large" data-mobile-iframe="true">
                    <a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse">
                        Share
                    </a>
                </div>
               <script>window.twttr = (function(d, s, id) {
                      var js, fjs = d.getElementsByTagName(s)[0],
                        t = window.twttr || {};
                      if (d.getElementById(id)) return t;
                      js = d.createElement(s);
                      js.id = id;
                      js.src = "https://platform.twitter.com/widgets.js";
                      fjs.parentNode.insertBefore(js, fjs);

                      t._e = [];
                      t.ready = function(f) {
                        t._e.push(f);
                      };
                      return t;
                    }(document, "script", "twitter-wjs"));
               </script>

            <iframe
              src="https://platform.twitter.com/widgets/tweet_button.html?size=l&url=https%3A%2F%2Fdev.twitter.com%2Fweb%2Ftweet-button&via=twitterdev&related=twitterapi%2Ctwitter&text=custom%20share%20text&hashtags=example%2Cdemo"
              width="140"
              height="40"
              title="Twitter Tweet Button"
              style="border:none">
            </iframe>

        </div>


</div>

      <div class="tabs tabs-type-elections" id="tabs">
        <ul>
            <li id="presjednicki"><a href="#tabs-1">Председнички</a></li>
            <li id="parlamentarni"><a href="#tabs-2">Парламентарни</a></li>
        </ul>
          <div id="tabs-1" class="year-list-tabs">
            <ul>
                {#<li><a href="{{ url_for('type.electionType', datasource='2', typeizbori = 'predsjednicki', year=2002, instanca='1', krug='prvi') }}">2002   - Први круг</a></li>
                <li><a href="{{ url_for('type.electionType', datasource='2', typeizbori = 'predsjednicki', year=2002, instanca='1', krug='drugi') }}">2002  - Други круг</a></li>
                <li><a href="{{ url_for('type.electionType', datasource='2', typeizbori = 'predsjednicki', year=2003, instanca='1', krug='drugi') }}">2003  - Други круг</a></li>
                <li><a href="{{ url_for('type.electionType', datasource='2', typeizbori = 'predsjednicki', year=2008, instanca='1', krug='prvi') }}">2008   - Први круг</a></li>
                <li><a href="{{ url_for('type.electionType', datasource='2', typeizbori = 'predsjednicki', year=2012, instanca='1', krug='drugi') }}">2012  - Први круг</a></li>
#}


            </ul>
          </div>
          <div id="tabs-2"  class="year-list-tabs">
            <ul>
                 <li>
                            <a href="{{ url_for('type.electionType', datasource='2', typeizbori = 'parlamentarni', year=2003, instanca='1', krug='none') }}"><img alt="Menu_official" src="{{ url_for('static', filename = 'assets/menu_link_year.png') }}">2003</a>

                        </li>
                         <li><a href="{{ url_for('type.electionType', datasource='2', typeizbori = 'parlamentarni', year=2008, instanca='1', krug='none') }}"><img alt="Menu_official" src="{{ url_for('static', filename = 'assets/menu_link_year.png') }}">2008</a></li>
                        <li><a href="{{ url_for('type.electionType', datasource='2', typeizbori = 'parlamentarni', year=2012, instanca='1', krug='none') }}"><img alt="Menu_official" src="{{ url_for('static', filename = 'assets/menu_link_year.png') }}">2012</a></li>
                        <li><a href="{{ url_for('type.electionType', datasource='2', typeizbori = 'parlamentarni', year=2014, instanca='4', krug='none') }}"><img alt="Menu_official" src="{{ url_for('static', filename = 'assets/menu_link_year.png') }}">2014</a></li>


        {#                <li><a href="{{ url_for('type.electionType', datasource='2', typeizbori = 'parlamentarni', year=2007, instanca='4', krug='none') }}">2007</a></li>
                        <li><a href="{{ url_for('type.electionType', datasource='2', typeizbori = 'parlamentarni', year=2016, instanca='4', krug='none') }}">2016</a></li>#}
                        <!-- second data source -->

            </ul>
          </div>
      </div>
<style>
    .fb-share-button span{
        height:44px !important;
    }
</style>
