<div class="background-gray no-padding">
    <div class="col-md-12">
        <div class="election-tabs-link">
            <p>Izbori <span class="arrow_shape">▼</span></p>
            {%  if typeizbori %}
            <p class="selected-type">{{ typeizbori }} > {{ year }}</p>
            {%  endif %}
        </div>

    </div>

</div>

      <div class="tabs" id="tabs">
        <ul>
            <li><a href="#tabs-1">Predsednički</a></li>
            <li><a href="#tabs-2">Parlamentarni</a></li>
        </ul>
          <div id="tabs-1">
            <ul>
                <li><a href="/type/2/predsjednicki/2002/1/krug/prvi">2002   - prvi krug</a></li>
                 <li><a href="/type/2/predsjednicki/2002/1/krug/drugi">2002 - drugi krug</a></li>
                <li><a href="/type/2/predsjednicki/2003/1/krug/drugi">2003  - drugi krug</a></li>
                <li><a href="/type/2/predsjednicki/2004/1/krug/prvi">2004- prvi krug</a></li>
                <li><a href="/type/2/predsjednicki/2004/1/krug/drugi">2004- drugi krug</a></li>
                <li><a href="/type/2/predsjednicki/2008/1/krug/prvi">2008- prvi krug</a></li>
                <li><a href="/type/2/predsjednicki/2012/1/krug/drugi">2012- drugi krug</a></li>
            </ul>
          </div>
          <div id="tabs-2">
            <ul>


                <li><a href="/type/2/parlamentarni/2003/1/krug/none">2003</a></li>
                <li><a href="/type/2/parlamentarni/2007/1/krug/none">2007</a></li>
                <li><a href="/type/2/parlamentarni/2008/1/krug/none">2008</a></li>
                <li><a href="/type/2/parlamentarni/2012/1/krug/none">2012</a></li>
                <!-- second data source -->
                <li><a href="/type/2/parlamentarni/2014/4/krug/none">2014</a></li>
                <li><a href="/type/2/parlamentarni/2016/4/krug/none">2016</a></li>
                </li>
            </ul>
          </div>
      </div>
