

                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-3 col-sm-12">
                            <div class="logo-wrapper extend">
                                <div class="grandjani-logo">
                                 <span class="text_logo"><a href="http://www.gradjaninastrazi.rs/" target="_blank">Грађани на стражи</a></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3  col-sm-12 footer-list">
                            <h2>Председнички</h2>
                            <div class="col-lg-6 col-md-12 col-sm-12 pres-list">
                                 <ul>
                                    <li><a href="{{ url_for('type.electionType', datasource='2', typeizbori = 'predsjednicki', year=2002, instanca='1', krug='prvi',status='none') }}">2002-Први круг</a></li>
                                    <li><a href="{{ url_for('type.electionType', datasource='2', typeizbori = 'predsjednicki', year=2002, instanca='1', krug='drugi',status='none') }}">2002-Други круг</a></li>
                                   <li><a href="{{ url_for('type.electionType', datasource='2', typeizbori = 'predsjednicki', year=2002, instanca='1', krug='prvi',status='ponovljeni') }}">2002-Поновљени</a></li>
                                    <li><a href="{{ url_for('type.electionType', datasource='2', typeizbori = 'predsjednicki', year=2003, instanca='1', krug='drugi',status='none') }}">2003-Други круг</a></li>
                                    <li><a href="{{ url_for('type.electionType', datasource='2', typeizbori = 'predsjednicki', year=2008, instanca='1', krug='prvi',status='none') }}">2008-Први круг</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12 pres-list">
                                <ul>
                                    <li><a href="{{ url_for('type.electionType', datasource='2', typeizbori = 'predsjednicki', year=2008, instanca='1', krug='drugi',status='none') }}">2008-Други круг</a></li>
                                    <li><a href="{{ url_for('type.electionType', datasource='2', typeizbori = 'predsjednicki', year=2012, instanca='1', krug='prvi',status='none') }}">2012-Први круг</a></li>
                                    <li><a href="{{ url_for('type.electionType', datasource='2', typeizbori = 'predsjednicki', year=2012, instanca='1', krug='drugi',status='none') }}">2012-Други круг</a></li>
                                </ul>
                            </div>

                        </div>
                         <div class="col-md-3 col-sm-12 footer-list">
                                <h2 >Парламентарни</h2>
                             <div class="col-md-3">
                                 <ul>
                                    <li> <a href="{{ url_for('type.electionType', datasource='2', typeizbori = 'parlamentarni', year=2003, instanca='1', krug='none',status='none') }}">2003</a></li>
                                    <li><a href="{{ url_for('type.electionType', datasource='2', typeizbori = 'parlamentarni', year=2008, instanca='1', krug='none',status='none') }}">2008</a></li>

                                </ul>
                             </div>
                             <div class="col-md-3">
                                  <ul>
                                    <li><a href="{{ url_for('type.electionType', datasource='2', typeizbori = 'parlamentarni', year=2012, instanca='1', krug='none',status='none') }}">2012</a></li>
                                    <li><a href="{{ url_for('type.electionType', datasource='2', typeizbori = 'parlamentarni', year=2014, instanca='4', krug='none',status='none') }}">2014</a></li>
                                </ul>
                             </div>

                         </div>

                        <div class="col-md-3 col-sm-12 footer-contact footer-list">
                            <h2>Контакт</h2>
                            <div class="row">
                                <div class="col-md-12"><p>Емаил: kontakt@gradjaninastrazi.rs </p></div>
                                <div class="col-md-12"><p>Тел: 011 2400062</p></div>
                            </div>

                        </div>
                    </div>
                </div>
                 <div class="col-md-12">
                    <div class="row footer-social">
                       <div class="col-md-4 col-sm-12 col-xs-12 social-icons">
                            <ul>
                                <li>
                                    <a href="https://www.facebook.com/sharer/sharer.php?u=&t=" class="fa fa-facebook-official" target="_blank" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=' +encodeURIComponent(document.URL) + '&t='+ encodeURIComponent(document.title)); return false;">
                                    </a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/intent/tweet?source=&amp;text=:%20" class="fa fa-twitter-square" target="_blank" onclick="window.open('https://twitter.com/intent/tweet?text=' + encodeURIComponent(document.title)+ ':%20'  + encodeURIComponent(document.URL)); return false;">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                 </div>

