
   <!-- Place this data between the <head> tags of your website -->
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
<title>Rezultati izbora u Srbiji</title>
<meta name="description" content="Srpski izbora podataka donosi vam rezultate svakog izbora u Srbiji. Možete istražiti svaki izbor u detalje korišćenjem različitih indikatora kao što su birača, ukupnim rezultatima, pojedinačnih rezultata stranaka, itd." />

<!-- Twitter Card data -->
<meta name="twitter:card" content="Srpski izbora podataka donosi vam rezultate svakog izbora u Srbiji.">
<meta name="twitter:site" content="Izborna platforma">
<meta name="twitter:title" content="Izborna platforma">
<meta name="twitter:description" content="Srpski izbora podataka donosi vam rezultate svakog izbora u Srbiji. Možete istražiti svaki izbor u detalje korišćenjem različitih indikatora kao što su birača, ukupnim rezultatima, pojedinačnih rezultata stranaka, itd.">
<meta name="twitter:creator" content="crta">

<meta name="twitter:image" content="{{ url_for('static', filename = 'assets/GNS-Data-Logo.png') }}">

<!-- Open Graph data -->
<meta property="og:title" content="Izborna platforma" />
<meta property="og:type" content="Izbori" />
<meta property="og:url" content="88.99.75.130/izborna-platforma/" />
<meta property="og:image" content="{{ url_for('static', filename = 'assets/GNS-Data-Logo.png') }}" />
<meta property="og:description" content="Srpski izbora podataka donosi vam rezultate svakog izbora u Srbiji. Možete istražiti svaki izbor u detalje korišćenjem različitih indikatora kao što su birača, ukupnim rezultatima, pojedinačnih rezultata stranaka, itd." />
<meta property="og:site_name" content="Izborna platforma" />
<meta property="fb:admins" content="" />
    <!-- Bootstrap Core CSS -->
    <link href="{{ url_for('static',filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static',filename='assets/favicon.ico') }}" />
    <!-- Custom Fonts -->
    <link href="{{ url_for('static',filename='vendor/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="{{ url_for('static',filename='vendor/magnific-popup/magnific-popup.css') }}" rel="stylesheet">

    <!-- Theme CSS -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
    <link href="{{ url_for('static',filename='css/creative.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
    <link href="{{ url_for('static',filename='css/custom.css') }}" rel="stylesheet">

    <script type="text/javascript" src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script type="text/javascript" src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.min.js') }}"></script>
    <!-- Plugin JavaScript -->
    <script type="text/javascript" src="{{ url_for('static', filename='vendor/scrollreveal/scrollreveal.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='vendor/magnific-popup/jquery.magnific-popup.min.js') }}"></script>

    <!-- Theme JavaScript -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/creative.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/custom.js') }}"></script>
    <script src="https://code.highcharts.com/maps/highmaps.js"></script>
    <script src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/leaflet-heat.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/leaflet.ajax.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/heat_points.js') }}"></script>
      <script type="text/javascript" src="{{ url_for('static', filename='js/heatmap.js') }}"></script>
   <script type="text/javascript" src="{{ url_for('static', filename='js/leaflet-heatmap.js') }}"></script>
    <script src="https://code.highcharts.com/maps/modules/data.js"></script>
    <script src="https://code.highcharts.com/maps/modules/exporting.js"></script>
    <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/select2/3.4.8/select2.css" rel="stylesheet" />
        <link href="http://cdnjs.cloudflare.com/ajax/libs/select2/3.4.8/select2-bootstrap.css" rel="stylesheet" />

    <script src="http://cdnjs.cloudflare.com/ajax/libs/select2/3.4.8/select2.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/papaparse.js') }}"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


