<p class="election-description" style="font-style:italic; font-size:13px;">

    На овом порталу налазе се сви подаци о резултатима председничких и парламентарних избора од 2003. године до данас у отвореном формату.
    Једноставном претрагом брзо долазите до података о томе колико је који кандидат или изборна листа освојила гласова или колика је била излазност укупно или у конкретном граду/ општини. Такође, веома једноставно можете да упоредите резултате одређених кандидата или изборних листа по различитим критеријумима.
    Интерактивна мапа вам нуди визуелни преглед резултата конкретних избора а табеларни преглед вам омогућава да радите додатне анализе.
    Сви подаци су преузети са званичног сајта. <br/><br/>
    <a href="http://www.rik.parlament.gov.rs/arhiva.php" target="_blank">Републичке изборне комисије</a>
</p>