   <div id="containermap_2016" class="col-md-12 col-sm-12 col-xs-12 lists div-map" style="height:200px;">
    </div>

   <script type="text/javascript">

        $(function () {
            var data = [];
        $.getJSON('{{ url_for("static",filename="data/map_landing_page.json") }}',function (datajson) {

            for (var i = 0; i < datajson['map_par_2016'].length; i++) {

                     data.push({
                            "NAME_2": transliterate(datajson['map_par_2016'][i]['teritorija']),
                            "terrigorySlug": transliterate(datajson['map_par_2016'][i]['teritorijaSlug']),
                            "color": datajson['map_par_2014'][i]['rezultat']['boja'],
                            "izbornaLista":""
                        });

            }
            });

            $.getJSON('{{ url_for("static",filename="data/serbia.geojson") }}', function (geojson) {
                console.log(data);
            // Initialize the map
            $('#containermap_2016').highcharts('Map', {
                chart: {
                    //backgroundColor:'lightgray'
	            },
                title: {
                    text: ''
                },
                tooltip: { enabled: false },
                plotOptions: {
                    series: {
                        cursor: 'pointer',
                        point: {
                            events: {

                            }
                        }
                    }
                },

                mapNavigation: {
                    enableMouseWheelZoom:false,
                    enabled: true,
                    buttonOptions: {
                        verticalAlign: 'bottom'
                    }
                },
                colorAxis: {
                    min: 0
                },
                series: [{
                    showInLegend: false,
                    data: data,
                    mapData: geojson,
                    joinBy: ['NAME_2',0],
                    keys: ['NAME_1', 'value'],
                    name: 'Teritorija',

                }]
            });
            });
        });

       $(window).resize(function () {
           $("#containermap_2016").highcharts().setSize($("#containermap_2016").width(),$("#containermap_2016").height(),doAnimation = true);
       });


    </script>
<style>
    .highcharts-button {
        display:none
    }
.highcharts-credits{
    display: none;
}
</style>