

<div class="row header-l">
    <div class="content-list background-gray">

            <h4> Parliamentary Elections</h4>
            <div class="col-md-12 year-list"><a href="#">2012</a></div>
            <div class="col-md-3 name-list">Покренимо Србију</div>
            <div class="col-md-1">
                <p class="nr-votes">940,659</p>
            </div>
            <div class="col-md-7">
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="24.05" aria-valuemin="0" aria-valuemax="100" style="width:24.05%">
                      <span class="sr-only">24.05% Complete</span>
                    </div>
                </div>
            </div>
            <div class="col-md-1 percentage">
                24.05%
            </div>

            <div class="col-md-3 name-list">Избор за бољи живот</div>
             <div class="col-md-1">
                <p class="nr-votes">863,294</p>
            </div>
            <div class="col-md-7">
                <div class="progress">
                    <div class="progress-bar progressbar-red" role="progressbar" aria-valuenow="22.07" aria-valuemin="0" aria-valuemax="100" style="width:22.07%">
                      <span class="sr-only">22.07% Complete</span>
                    </div>
                </div>
            </div>
            <div class="col-md-1 percentage">
               22.07%
            </div>
            <!-- second -->
              <div class="col-md-12 year-list"><a>2013</a></div>
            <div class="col-md-3 name-list">Покренимо Србију</div>
            <div class="col-md-1">
                <p class="nr-votes">940,659</p>
            </div>
            <div class="col-md-7">
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="24.05" aria-valuemin="0" aria-valuemax="100" style="width:24.05%">
                      <span class="sr-only">24.05% Complete</span>
                    </div>
                </div>
            </div>
            <div class="col-md-1 percentage">
                24.05%
            </div>

            <div class="col-md-3 name-list">Избор за бољи живот</div>
             <div class="col-md-1">
                <p class="nr-votes">863,294</p>
            </div>
            <div class="col-md-7">
                <div class="progress">
                    <div class="progress-bar progressbar-red" role="progressbar" aria-valuenow="22.07" aria-valuemin="0" aria-valuemax="100" style="width:22.07%">
                      <span class="sr-only">22.07% Complete</span>
                    </div>
                </div>
            </div>
            <div class="col-md-1 percentage">
               22.07%
            </div>


    </div>
</div>