

<div class="row header-l">
    <div class="content-list background-gray">
        <h4>Parlamentarni izbori</h4>
        <!-- beginning of the year 2014 -->
        <!-- first indicator -->
            <div class="col-md-12 year-list"><a href="type/2/parlamentarni/2014/4">2014</a></div>
            <div class="col-md-3 name-list"> {{ data2014[0]['izbornaLista'] }}</div>
            <div class="col-md-1">
                <p class="nr-votes">    {{ '{0:,}'.format(data2014[0]['glasova'])}}</p>
            </div>
            <div class="col-md-7">
                <div class="progress custom-progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="{{ data2014[0]['udeo'] }}" aria-valuemin="0" aria-valuemax="100" style="width:{{ data2014[0]['udeo']}}%">
                      <span class="sr-only">{{ data2014[0]['udeo']}}% Complete</span>
                    </div>
                </div>
            </div>
         <div class="col-md-1 percentage">
            {{ '{0:0.2f}'.format(data2014[0]['udeo'])}}%
            </div>
        <!-- end of the first indicatior -->
        <!-- second indicator -->


                 <div class="col-md-3 name-list"> {{ data2014[1]['izbornaLista'] }}</div>
            <div class="col-md-1">
                <p class="nr-votes">    {{ '{0:,}'.format(data2014[1]['glasova'])}}</p>
            </div>
            <div class="col-md-7">
                <div class="progress custom-progress">
                    <div class="progress-bar  progressbar-red" role="progressbar" aria-valuenow="{{ data2014[1]['udeo'] }}" aria-valuemin="0" aria-valuemax="100" style="width:{{ data2014[1]['udeo']}}%">
                      <span class="sr-only">{{ data2014[1]['udeo']}}% Complete</span>
                    </div>
                </div>
            </div>
            <div class="col-md-1 percentage">
            {{ '{0:0.2f}'.format(data2014[1]['udeo'])}}%
            </div>
        <!-- end of the second indicatior -->
        <!-- end of year 2014 -->

        <!-- beginning of the year 2016 -->
        <!-- first indicator -->
          <div class="col-md-12 year-list"><a href="type/2/parlamentarni/2016/4">2016</a></div>
            <div class="col-md-3 name-list"> {{ data2016[0]['izbornaLista'] }}</div>
            <div class="col-md-1">
                <p class="nr-votes">    {{ '{0:,}'.format(data2016[0]['glasova'])}}</p>
            </div>
            <div class="col-md-7">
                <div class="progress custom-progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="{{ data2016[0]['udeo'] }}" aria-valuemin="0" aria-valuemax="100" style="width:{{ data2016[0]['udeo']}}%">
                      <span class="sr-only">{{ data2016[0]['udeo']}}% Complete</span>
                    </div>
                </div>
            </div>
            <div class="col-md-1 percentage">
            {{ '{0:0.2f}'.format(data2016[0]['udeo'])}}%
            </div>
        <!-- end of the first indicator -->
        <!-- beginning of the   second indicator -->
         <div class="col-md-3 name-list"> {{ data2016[1]['izbornaLista'] }}</div>
            <div class="col-md-1">
                <p class="nr-votes">{{ '{0:,}'.format(data2016[1]['glasova'])}}</p>
            </div>
            <div class="col-md-7">
                <div class="progress custom-progress">
                    <div class="progress-bar progressbar-red" role="progressbar" aria-valuenow="{{ data2016[1]['udeo'] }}" aria-valuemin="0" aria-valuemax="100" style="width:{{ data2016[1]['udeo']}}%">
                      <span class="sr-only">{{ data2016[1]['udeo']}}% Complete</span>
                    </div>
                </div>
            </div>
            <div class="col-md-1 percentage">
            {{ '{0:0.2f}'.format(data2016[1]['udeo'])}}%
            </div>
        <!-- end of the second indicatior -->
        <!-- begining of the 2016 -->
    </div>


</div>