
<div class="row header-l">
    <div class="content-list background-gray">
            <h4>Predsednički izbori</h4>
            <div class="col-md-12 year-list"><a href="type/1/predsjednicki/2008/1">2008</a></div>
            <div class="col-md-3 name-list">{{ data2008pres[0]['kandidat'] }}</div>
            <div class="col-md-1">
                <p class="nr-votes">{{ '{0:,}'.format(data2008pres[0]['glasova']) }}</p>
            </div>
            <div class="col-md-7">
                <div class="progress custom-progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="{{ data2008pres[0]['udeo'] }}" aria-valuemin="0" aria-valuemax="100" style="width:{{ data2008pres[0]['udeo'] }}%">
                      <span class="sr-only">{{ data2008pres[0]['udeo'] }}% Complete</span>
                    </div>
                </div>
            </div>
            <div class="col-md-1 percentage">
                {{ '{0:0.2f}'.format(data2008pres[0]['udeo'])}}%
            </div>

            <div class="col-md-3 name-list">{{ data2008pres[1]['kandidat'] }}</div>
             <div class="col-md-1">
                <p class="nr-votes">{{ '{0:,}'.format(data2008pres[1]['glasova']) }}</p>
            </div>
            <div class="col-md-7">
                <div class="progress custom-progress">
                    <div class="progress-bar progressbar-red" role="progressbar" aria-valuenow="{{ data2008pres[1]['udeo'] }}" aria-valuemin="0" aria-valuemax="100" style="width:{{ data2008pres[1]['udeo'] }}%">
                      <span class="sr-only">{{ data2008pres[1]['udeo'] }}% Complete</span>
                    </div>
                </div>
            </div>
            <div class="col-md-1 percentage">
                {{ '{0:0.2f}'.format(data2008pres[1]['udeo'])}}%
            </div>
        <!-- 2012 year -->
        <div class="col-md-12 year-list"><a href="type/1/predsjednicki/2012/1">2012</a></div>
            <div class="col-md-3 name-list">{{ data2012pres[0]['kandidat'] }}</div>
            <div class="col-md-1">
                <p class="nr-votes">{{ '{0:,}'.format(data2012pres[0]['glasova']) }}</p>
            </div>
            <div class="col-md-7">
                <div class="progress custom-progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="{{ data2012pres[0]['udeo'] }}" aria-valuemin="0" aria-valuemax="100" style="width:{{ data2012pres[0]['udeo'] }}%">
                      <span class="sr-only">{{ data2012pres[0]['udeo'] }}% Complete</span>
                    </div>
                </div>
            </div>
            <div class="col-md-1 percentage">
                {{ '{0:0.2f}'.format(data2012pres[0]['udeo'])}}%
            </div>

            <div class="col-md-3 name-list">{{ data2012pres[1]['kandidat'] }}</div>
             <div class="col-md-1">
                <p class="nr-votes">{{ '{0:,}'.format(data2012pres[1]['glasova']) }}</p>
            </div>
            <div class="col-md-7">
                <div class="progress custom-progress">
                    <div class="progress-bar progressbar-red" role="progressbar" aria-valuenow="{{ data2012pres[1]['udeo'] }}" aria-valuemin="0" aria-valuemax="100" style="width:{{ data2012pres[1]['udeo'] }}%">
                      <span class="sr-only">{{ data2012pres[1]['udeo'] }}% Complete</span>
                    </div>
                </div>
            </div>
            <div class="col-md-1 percentage">
                {{ '{0:0.2f}'.format(data2012pres[1]['udeo'])}}%
            </div>
    </div>
</div>
