
<div class="row header-l">
    <div class="content-list background-gray">
            <h4>Председнички избори</h4>

    <div class="col-md-2">
                {% include "site/_site_map_pres_2012.html" %}
    </div>
    <div class="col-md-10">
        <div class="col-md-12 year-list"><a href="type/1/predsjednicki/2012/1/krug/drugi">2012 Drugi krug</a></div>
            <div class="col-md-3 col-sm-3 name-list">{{ data2012pres[0]['kandidat'] }}</div>
            <div class="col-md-1">
                <p class="nr-votes">{{ '{0:,}'.format(data2012pres[0]['glasova']) }}</p>
            </div>
            <div class="col-md-7">
                <div class="progress custom-progress custom-progress-2014">
                    <div class="progress-bar" role="progressbar" style="width:{{ data2012pres[0]['udeo']}}%; {% for i in list_political_parties %} {% if i['name']==data2012pres[0]['kandidat'] %} background-color:{{ i['color'] }}" {% endif %}{% endfor %} aria-valuenow="{{ data2012pres[0]['udeo'] }}" aria-valuemin="0" aria-valuemax="100">
                      <span class="sr-only">{{ data2012pres[0]['udeo'] }}% Complete</span>
                    </div>
                </div>
            </div>
            <div class="col-md-1 percentage">
                {{ '{0:0.2f}'.format(data2012pres[0]['udeo'])}}%
            </div>

            <div class="col-md-3 name-list">{{ data2012pres[1]['kandidat'] }}</div>
             <div class="col-md-1">
                <p class="nr-votes">{{ '{0:,}'.format(data2012pres[1]['glasova']) }}</p>
            </div>
            <div class="col-md-7">
                <div class="progress custom-progress">
                    <div class="progress-bar progressbar-red" role="progressbar" style="width:{{ data2012pres[1]['udeo']}}%; {% for i in list_political_parties %} {% if i['name']==data2012pres[1]['kandidat'] %} background-color:{{ i['color'] }}" {% endif %}{% endfor %} aria-valuenow="{{ data2012pres[1]['udeo'] }}" aria-valuemin="0" aria-valuemax="100">
                      <span class="sr-only">{{ data2012pres[1]['udeo'] }}% Complete</span>
                    </div>
                </div>
            </div>
            <div class="col-md-1 percentage">
                {{ '{0:0.2f}'.format(data2012pres[1]['udeo'])}}%
            </div>
    </div>
</div>
</div>
