{% extends "layout.html" %}
{% block body %}
 <section style="padding-top:100px;">
         <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12 body_pages">
                        <div class="row">
                            <h4 class="landingpage-h4">{{ _('Питања и одговори') }}</h4>
                            <div class="arrow_left_side">
                                <img alt="elections" src="{{ url_for('static', filename = 'assets/arrow_elections-home.jpg') }}">
                            </div>
                        </div>

<ul>
    <li>
        <b>{{ _('Које податке могу да пронађем на овом порталу?')  }}</b><br/>
       {{ _('На овом порталу су доступни резултати председничких избора од 2002. године и парламентарних избора од 2003. године.') }}
    </li>

    <li>
        <b>{{ _('Како могу да користим ове податке?') }}</b><br/>
        {{ _('Подаци могу да се користе за анализе и поређења.') }}
    </li>

    <li>
        <b>{{ _('Шта може да се упореди?') }}</b><br/>
        {{ _('Могу да се пореде укупни резултати, појединачни резултати листа и странака, резултати на нивоу републике и одређеног града/општине, излазност на изборима…') }}
    </li>
    <li>
        <b>{{ _('Да ли је могуће преузимање графикона?') }}</b><br/>
        {{ _('Могуће је.') }}
    </li>

    <li>
        <b>{{ _('Да ли су доступни само подаци за изборне листе или и за поједничане странке за парламентарне изборе?') }}</b><br/>
        {{ _('Доступни су резултати само за изборне листе.') }}
    </li>

    <li>
        <b>{{ _('Зашто нема података за парламентарне и председничке изборе од 1990. до 2002. године?') }}</b><br/>
       {{ _('На сајту РИК-а су доступни резултати по бирачким местима за председничке изборе од 2002. године и за парламентарне изборе од 2003. године. За све раније изборе доступни су само збирни резултати.') }}
    </li>
    <li>
        <b>{{ _('Како сте дошли до ових података?') }}</b><br/>
        {{ _('Сви подаци су преузети са сајта РИК-а.') }}
    </li>
    <li>
        <b>{{ _('Да ли се коришћење ових података наплаћује?') }}</b><br/>
        {{ _('Не, коришћење података је бесплатно.') }}
    </li>

    </ul>
                    </div>
                </div>
            </div>
         </div>
    </section>
{% endblock %}