.bg-primary{
    background-color:#243e88;
}
.navbar-default .nav>li.active>a, .navbar-default .nav>li.active>a:focus{
    color:#FFFFFF !important;
}
section{
    padding:50px 0;
}
.background-gray{
    background:lightgray;
    overflow:auto;
    padding-bottom:40px;
}
.election-tabs-link{
    cursor:pointer;
    padding-top:15px;
    padding-left:20px;
}
.election-tabs-link p{
    color:#243e88;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover{
    border: 1px solid #243e88;
    background: #243e88;
}
.tabs{
    width:400px;
    position:absolute;
    z-index: 10;
}
.header-l h4{
    background-color:#c6363c;
    color:rgba(255,255,255,.7);
    padding:10px;
    margin:0px;
    padding-left:20px;
}
.content-list ul{
    padding:20px;
    padding-left: 40px;
    list-style:none;
}
.content-list ul li a{
    cursor: pointer;
    color:#337ab7;
}
.lists{
    padding-left: 0px;
    padding-right:0px;
}

.year-list{
    padding:20px;
    font-size:20px;
}
.name-list{
    padding-left: 20px;
}

.progressbar-red{
    background-color: #ef000a;
}
.election-description{
    padding:20px;
}
.year-list a{
    cursor: pointer;
}
.no-padding{
    padding:0px;
}
.election-tabs-link p{
    float:left;
    margin-right:30px;
}
.indicators{
    width:100%;
    overflow: auto;
}
.selected-year{
    padding:20px;
    padding-left: 30px;
}
.selected-year p {


}
.in-header h2{
    padding: 0px;
    margin: 0px;
    color: rgba(255,255,255,.7);
    padding: 10px;

}

#containermap{
    height: 700px;
    width:100%;
    margin: 0 auto;
}
.highcharts-legend{
    display:none;
}
.float-left{
    float:left;
}
.font-size-11{
font-size:11px;
}
.table-votes{
    width:50px;
}
.custom-progress{
    height:30px;
}
.clear-left{
    clear:left;
}
.total_turnout{
    width: 200px;
    text-align: center;
}