.bg-primary{
    background-color:#243e88;
}
.navbar-default .nav>li.active>a, .navbar-default .nav>li.active>a:focus{
    color:#FFFFFF !important;
}
section{
    padding:50px 0;
}
.background-gray{
    background:#ffffff;

    padding-bottom:40px;
}
.election-tabs-link{
    cursor:pointer;

}
.election-tabs-link p{
    color:#243e88;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover{
    border: 1px solid #243e88;
    background: #243e88;
}
.tabs{
      width:30%;
       position:absolute;
        z-index: 10;
  }
@media only screen and (max-width: 500px) {
     .tabs{
      width:100%;
       position:absolute;
        z-index: 10;
  }

}


.content-list ul{
    padding:20px;
    padding-left: 40px;
    list-style:none;
}
.content-list ul li a{
    cursor: pointer;
    color:#337ab7;
}
.lists{
    padding-left: 0px;
    padding-right:0px;
}

.year-list{
    font-size:20px;
}
.name-list{
    padding-bottom:10px;
}

.progressbar-red{
    background-color: #ef000a;
}
.election-description{
    padding:20px;
}
.year-list a{
    cursor: pointer;
}
.no-padding{
    padding:0px;
}
.election-tabs-link p{
    float:left;
    margin-right:30px;
}
.indicators{
    width:100%;
    overflow: auto;
}
.selected-year{
    padding:20px;
    padding-left: 30px;
}

.in-header h4{
    padding: 0px;
    margin: 0px;
    padding: 10px;
    background:#337ab7;
}
#containermap{
    height: 700px;
    width:100%;
    margin: 0 auto;
}

.highcharts-legend{
    display:none;
}
.float-left{
    float:left;
}
.font-size-11{
font-size:11px;
}
.font-size-12{
font-size:15px !important;
}
.table-votes{

}
.custom-progress{
    height:15px;
    border-radius:0px;
}
.clear-left{
    clear:left;
}
.total_turnout{

    text-align: center;
}
.indicators .tabs_indicators{

    max-height: 300px;
}
.indicators #tabs-results{
       background:white;
}
.territory_info,.party_info,.default-first-indicators {
    border: 1px solid #c5c5c5;
    height:300px;
    margin-top:20px;
    margin-bottom:20px;
    max-height:500px;
    overflow: auto;
    background:#ffffff;
}
#detail-info h4, #party-info h4, #default-indicators h4{
    background: #337ab7;
    color:white;
    padding:10px;
    margin:0px;
}
#winner-territory{
    margin-top:10px;
}
#winner-territory,#voters_turnout,#result_votes,#percentage, #winner-party{
    padding-left:15px;
    padding-right:15px;
}
.select2-container{
    width:100% !important;
    margin-bottom:20px !important;
}

.title-heading{
    margin-bottom:20px;
    margin-top:40px;
}
.navbar-default .navbar-header .navbar-toggle{
    color:white;
}
.navbar-default .nav>li>a, .navbar-default .nav>li>a:focus{
    color:white;
}
.centered{
    float:none;
    margin:0 auto;
}

.fb-icon a{
    display: inline-block;
    width: 22px;
    height: 21px;
    background-image:url('../assets/social.png');
    background-position: -2px 43px;
    margin-top:20px;
    margin-right:10px;
}
.twitter-icon a {
    display:inline-block;
    margin-top:20px;
    width: 22px;
    height: 21px;
    background-position: -24px 21px;
    background-image: url('../assets/social.png');
}
.select-p-tab{
    background:#0E74B6;
    color:white !important;
}


.indicators .ui-tabs .ui-tabs-panel{
    padding:0px;
}
.indicators #tabs-results{
    padding-left: 4px;
    padding-top: 20px;
}
.select-p-tab a:hover, a:focus{
    text-decoration: none;
    color:white;

}
.select-p-tab .party_name{
    color:white;
}
.select-p-tab .party_name:hover{
    color:white;
}

.indicators #tabs-results ul{
    padding-left: 10px;
}


#all-results{
    border-radius:0px !important;
    border: 1px solid #e7e7e7 !important;
    margin-left:40px;
    color:gray;
}

.active-all-results,.active-all-results:hover,.active-all-results:active{
    background: #243e88;
    color:white !important;
}
.active-all-results{
    background: #243e88;
    color:white !important;
}

.disabled-tab {
    cursor: none;
    pointer-events: none;
    color: white;
}

#all-results a:hover, a:focus{
    color:red;
}
#all-results a.disabled-link:hover, a.disabled-link:focus{
    color:gray;
}
p{
    font-size:12px;
}
.x3{
    font-size:12px !important;
}
.percentage,.name-list{
    font-size:12px;
}

.election-tabs-link p{
    font-size:16px;
}
.year-list-tabs ul{
    list-style:none;
    padding:0;
}
.tabs_indicators{
    overflow: auto;
}
.btn-selected-territory{
    background: #243e88;
    color:white !important;
}
.btn-selected-territory:hover, .btn-selected-territory:active,.btn-selected-territory:focus,.btn-selected-territory:visited{
    background: #243e88 !important;
    color:white !important;
}
.tabs_indicators a {
    color:black;
}
.tabs_indicators a:focus{
    color:white;
}

#party-list-names li{
    margin-bottom:5px;

}

#party-list-names li:hover{

    background: #0E74B6;
    color:white;
    cursor: pointer;
}
#party-list-names li a:hover{
       color:white;
}

#footer{
     position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 5rem;
    background:#D4D4D4 !important;
    text-align: center;

}
#social-media-icons{
    margin-bottom: 10px;
    margin-top:10px;
    text-align:center;
}