<div class="indicators">
    <div class="in-header">
        <a href="#" id="toggle-indicators"><h4 class="bg-primary">Листа   <span class="arrow_shape">▾</span></h4></a>

        <div class="div-indicators">
            {% include "type/_indicatory_tabs.html" %}
        </div>
    </div>
</div>
<div class="territory_info" style="display:none">
      {% include "type/_territory_info.html" %}
</div>

<div class="party_info" style="display:none">
      {% include "type/_party_info.html" %}
</div>

<div class="default-first-indicators">
    {% include "type/_default_first_indicators.html" %}
</div>
