<script>
    $(document).ready(function(){
             $("#tabs-results li a").click(function (e) {
                 e.preventDefault();
             $('li a').removeClass('select-p-tab');
             $(this).addClass("select-p-tab");
         });
    })
</script>
<div class="tabs_indicators" id="tabs_indicators">
    <ul>
        <li id="rezultati"><a href="#tabs-results">Резултати</a></li>
        {% if year in [2008] and typeizbori in ['parlamentarni'] %}
            <li id="drugo"><a href="#tabs-other">Друго</a></li>
        {% endif %}
    </ul>
    <div id="tabs-results">
        {% set count = 0 %}
        <ul id="party-list-names">

        {#{%  for item in data %}
            {% set count = count + 1 %}
             <li style="font-size:12px;">{{ count }} - {%  if typeizbori=="predsjednicki" %}
                    <a href="{{ item['kandidatSlug'] }}" class="party_name">{{ item['kandidat'] }}</a>
                 {%  else %}
                     <a href="{{ item['izbornaListaSlug'] }}" class="party_name">{{ item['izbornaLista'] }}</a>
                 {% endif %}
             </li>
        {% endfor %}#}
        </ul>
    </div>
     {#   {% if year in [2008] and typeizbori in ['parlamentarni'] %}
            <div id="tabs-other">
                    <p style="padding-left:10px;padding-top:20px;">
                        Bажећих гласачких листића:<span style="float:right;padding-right:20px;">{{ '{0:,}'.format(results_voters['valid_balots']) }}</span><br/>
                        Hеважећих гласачких листића: <span style="float:right;padding-right:20px;">{{ '{0:,}'.format(results_voters['invalid_balots']) }}</span>
                    </p>
            </div>
        {% endif %}#}
</div>

<script>

    $(document).ready(function(){
        $('#rezultati a').addClass('disabled-tab');
        $('#rezultati a').click(function(){
            $(this).addClass('disabled-tab');
            $('#drugo a').removeClass('disabled-tab');
        })
        $('#drugo a').click(function(){
            $(this).addClass('disabled-tab');
            $('#rezultati a').removeClass('disabled-tab');
        })
    })
</script>