<div class="indicators">
    <div class="in-header bg-primary">
        <div class="lista-header"><a href="#" id="toggle-indicators" style="float:left;"><h4 >Листа<span class="arrow_shape">▾</span></h4></a>
            <a class="" href="#" id="start-map">Укупни резултати</a>
        </div>
        <div class="div-indicators" style="clear:both;">
            {% include "type/_indicatory_tabs.html" %}
        </div>
    </div>
</div>
<div class="territory_info" style="display:none">
      {% include "type/_territory_info.html" %}
</div>

<div class="party_info" style="display:none">
      {% include "type/_party_info.html" %}
</div>

<div class="default-first-indicators">
    {% include "type/_default_first_indicators.html" %}
</div>
