

  <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="col-md-12 year-list">{{ year }} <span id="selected-territory-name"></span></div>
    </div><!-- heading -->
    <div class="col-md-3 col-sm-4 col-xs-4 name-list">
        {% if typeizbori=="predsjednicki" %}
            <span id="first-kandidat-name"></span>
        {% else %}
            <span id="first-izborna-lista-name"></span>
        {% endif %}
    </div><!-- type of elections -->
    <div class="col-md-2 col-sm-3 col-xs-3">
        {% if typeizbori=="predsjednicki" %}
            <p class="nr-votes" id="first-nr-votes-pred"></p>
        {% else %}
            <p class="nr-votes" id="first-nr-votes-parla"></p>
        {% endif %}
    </div>
    <div class="col-md-6 col-sm-3 col-xs-3">
        <div class="progress custom-progress">
            {% if typeizbori=="predsjednicki" %}
                <div id="first-progress-pred" class="progress-bar  progressbar-red" style="" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="100">
                    <span class="sr-only" id="first-percentage-pred"></span>
                </div>
            {% else %}
                <div id="first-progress-parl" class="progress-bar" style="" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="100">
                    <span class="sr-only" id="first-percentage-parl"></span>
                </div>
            {% endif %}
        </div>
    </div><!-- end of progress bar, first indicator -->
    {% if typeizbori=="predsjednicki" %}
        <div class="col-md-1 col-sm-2 col-xs-2 percentage" id="first-percentage-value-pred"></div><!-- end of percentage for the first indicator -->
    {% else %}
        <div class="col-md-1 col-sm-2 col-xs-2 percentage" id="first-percentage-value-parl"></div><!-- end of percentage for the first indicator -->
    {% endif %}
    <!-- second indicator -->
   <div class="col-md-3 col-sm-4 col-xs-4 name-list">
       {% if typeizbori=="predsjednicki" %}
           <span id="second-kandidat-name"></span>
       {% else %}
           <span id="second-izborna-lista-name"></span>
       {% endif %}
   </div><!-- type of elections -->
    <div class="col-md-2 col-sm-3 col-xs-3">
        {% if typeizbori=="predsjednicki" %}
            <p class="nr-votes" id="second-nr-votes-pred"></p>
        {% else %}
            <p class="nr-votes" id="second-nr-votes-parla"></p>
        {% endif %}
    </div>
    <div class="col-md-6 col-sm-3 col-xs-3">
        <div class="progress custom-progress">
            {% if typeizbori=="predsjednicki" %}
                <div id="second-progress-pred" class="progress-bar "  role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="100">
                    <span class="sr-only"></span>
                </div>
            {% else %}
                <div id="second-progress-parl" class="progress-bar" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="100">
                    <span class="sr-only"></span>
                </div>
            {% endif %}
        </div>
    </div><!-- end of progress bar, second indicator -->
    {% if typeizbori=="predsjednicki" %}
        <div class="col-md-1 col-sm-2 col-xs-2 percentage" id="second-percentage-value-pred"></div><!-- end of percentage for the first indicator -->
        {% else %}
        <div class="col-md-1 col-sm-2 col-xs-2 percentage" id="second-percentage-value-parl"></div><!-- end of percentage for the first indicator -->
    {% endif %}

