<style>
    .ajax-loader {
            visibility: hidden;
            background-color: rgba(255, 255, 255, 0.7);
            position: absolute;
            z-index: +100 !important;
            width: 100%;
            height: 100%;
        }

        .ajax-loader img {
            position: relative;
            top: 50%;
            left: 50%;
        }
</style>
<div class="col-md-6 col-sm-6 col-xs-6">
    <a href="#" id="all-results" class="disabled-link btn btn-default" disabled>
        {{ _('Сви резултати') }}
    </a>
</div>

{% if year==2016 %}
    <div class="col-md-6 col-sm-6 col-xs-6">
        <a href="#" id="heatmap" class="btn btn-default">
            {{ _('Heatmap') }}
        </a>
    </div>
{% endif %}

<div class="ajax-loader">
    <img src="{{ url_for('static', filename = 'assets/page-loader.gif') }}" class="img-responsive"/>
</div>

<div id="containermap" class="" style="margin-bottom: 30px;" style="display:none"></div>
{% if year==2016 %}

{% endif %}
{#  <div class="col-md-12" style="margin-top:20px;">
      {% include "type/_legend.html" %}
  </div>#}
<style>
    #d_csv {
        cursor: pointer;
    }
</style>
<div id="containerheatmap" class="col-md-12 col-xs-12" style="margin-bottom: 30px;height: 700px;display: none"></div>
<div class="col-md-12 col-sm-12 col-xs-12" style="margin-top: 20px;margin-bottom: 20px;">
    <a href="#" id="link_download">{{ _('Преузимање') }}:</a>
    <div class="download_types">
        <a id="d_csv">CSV</a>
        <a href="#" id="d_json">JSON</a>
    </div>

</div>