
<div id="containermap"></div>

   <script type="text/javascript">
       function transliterate(word)
       {
            var A = {};
            var result = '';
            A["Ё"]="YO";A["Й"]="I";A["Ц"]="C";A["У"]="U";A["К"]="K";A["Е"]="E";A["Н"]="N";A["Г"]="G";A["Ш"]="Š";A["Щ"]="Dž";A["З"]="Z";A["Х"]="H";A["Ъ"]="Lj";
            A["ё"]="yo";A["й"]="i";A["ц"]="c";A["у"]="u";A["к"]="k";A["е"]="e";A["н"]="n";A["г"]="g";A["ш"]="š";A["щ"]="dž";A["з"]="z";A["х"]="h";A["ъ"]="lj";
            A["Ф"]="F";A["Ы"]="I";A["В"]="V";A["А"]="A";A["П"]="P";A["Р"]="R";A["О"]="O";A["Л"]="L";A["Д"]="D";A["Ж"]="Ž";A["Э"]="E";A["Ђ"]="Đ";A["Ћ"]="Ć";A["Њ"]="Nj";
            A["ф"]="f";A["ы"]="i";A["в"]="v";A["а"]="a";A["п"]="p";A["р"]="r";A["о"]="o";A["л"]="l";A["д"]="d";A["ж"]="ž";A["э"]="e";A["ђ"]="đ";A["ћ"]="ć";A["њ"]="nj"
            A["Я"]="YA";A["Ч"]="Č";A["С"]="S";A["М"]="M";A["И"]="I";A["Т"]="T";A["Ь"]="'";A["Б"]="B";A["Ю"]="YU";A["Љ"]="Lj";A["Џ"]="Dž";A["џ"]="dž";
            A["я"]="ya";A["ч"]="č";A["с"]="s";A["м"]="m";A["и"]="i";A["т"]="t";A["ь"]="'";A["б"]="b";A["ю"]="yu";A["љ"]="lj";

            for(var i = 0; i < word.length; i++) {
                var c = word.charAt(i);
                result += A[c] || c;
            }
            return result;
        }
        $(function () {

            $.getJSON('{{ url_for("static",filename="data/serbia-municipality.geojson") }}', function (geojson) {
            var data = [];
            var i = 0;
                {% if typeizbori=="parlamentarni" %}
                    {%  for winner in winner_territory %}
                        data.push({
                            "NAME_2": transliterate("{{ winner['teritorija'] }}"),
                            "terrigorySlug": transliterate("{{ winner['teritorijaSlug'] }}"),
                            "color": "{% for list in list_political_parties %} {% if winner['rezultat'][0]['izbornaLista']==list['name'] %}{{ list['color'] }} {% endif %} {% endfor %}",
                            "izbornaLista":""
                        });
                    {% endfor %}
                {% endif %}
             {% if typeizbori=="predsjednicki" %}
                    {%  for winner in winner_territory %}
                         data.push({
                           "NAME_2": transliterate("{{ winner['teritorija'] }}"),
                            "terrigorySlug": transliterate("{{ winner['teritorijaSlug'] }}"),
                           "color": "{% for list in list_political_parties %} {% if winner['rezultat'][0]['kandidat']==list['name'] %}{{ list['color'] }} {% endif %} {% endfor %}",
                            "kandidat":""
                    });
                    {% endfor %}
                {% endif %}
            console.log(data);
            // Initialize the map
            $('#containermap').highcharts('Map', {
                title: {
                    text: ''
                },
                tooltip: { enabled: false },
                plotOptions: {
                    series: {
                        cursor: 'pointer',
                        point: {
                            events: {
                                click: function () {
                                    $.ajax({
                                        type: "GET",
                                        {% if year==2000 %}
                                        url: "http://0.0.0.0:5006/api/izbori/1/parlamentarni/godina/{{ year }}/teritorija/"+ this.terrigorySlug + "/instanca/3",
                                        {% endif %}
                                        {% if year!=2000 %}
                                         url: "http://0.0.0.0:5006/api/izbori/2/parlamentarni/godina/{{ year }}/teritorija/"+ this.terrigorySlug + "/instanca/3",
                                        {% endif %}
                                        async: false,
                                        dataType: 'json',
                                        success: function (response) {
                                            $('.territory_info').show();
                                            var teritorija=response['teritorija'];
                                            $('#territory-name').text(teritorija)
                                           var izbornaLista=response['rezultat'][0];
                                            $('#winner-territory').html('<b>Indikator: </b> '+ izbornaLista['izbornaLista']);
                                            {% if year!=2000 %}
                                            var voters_turnout=izbornaLista['rezultat']['glasova'];
                                            var resigtered_voters=response['brojUpisanihBiracaUBirackiSpisak'];
                                            var voters=response['biraciKojiSuGlasali']['broj'];
                                            var percentage=(voters / resigtered_voters) * 100
                                            {% endif %}
                                            var result_votes=izbornaLista['rezultat']['glasova'];
                                            var percentage_votes=izbornaLista['rezultat']['udeo'];
                                            {% if year!=2000 %}
                                             $('#voters_turnout').html('<b>Total voters turnout: </b> '+percentage.toFixed(2)+'%');
                                            {% endif %}
                                             $('#result_votes').html('<b>Total votes: </b> ' +result_votes);
                                             $('#percentage').html('<b>Percentage: </b> ' + percentage_votes.toFixed(2)+'%');
                                        },
                                        error: function (error) {
                                            console.log(error);
                                        }
                                    });
                                }
                            }
                        }
                    }
                },

                mapNavigation: {
                    enableMouseWheelZoom:false,
                    enabled: true,
                    buttonOptions: {
                        verticalAlign: 'bottom'
                    }
                },
                colorAxis: {
                    min: 0
                },
                series: [{

                    showInLegend: false,
                    data: data,
                    mapData: geojson,
                    joinBy: ['NAME_2',0],
                    keys: ['NAME_1', 'value'],
                    name: 'Teritorija',
                    dataLabels: {
                        enabled: true,
                        format: '{point.NAME_2}'
                    }
                }]
            });
            });
        });
     var $iW = $(window).innerWidth();
            if ($iW < 1000) {

            } else {
            }

    </script>