
<div class="x0">
    <div class="x1">
        <div class="x2">
            <div class="x3">
                <!-- BEG Content -->

                <div class="x6">
                    <div class="x7">
                    <span class="percentage-value" style="color:white;"><span class="total_percentage_value"></span>%</span>
                    </div>
                    <div class="x8">
                    </div>
                </div>

                <!-- END Content -->
            </div>
              <div class="x3" id="piechar-votes">Излазност: <span class="total_voters_value"></span></div>
        </div>

    </div>

</div>



