<meta name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>

    <div class="m-chart" style="margin:0 auto;width:200px;">
        <canvas id="colors" width="200" height="120"></canvas>
    </div>
    <div class="col-md-12 col-sm-12 col-xs- 12 total_turnout">
        <span>Turnout:</span>
        <span id="total_turnout">{{ results_voters['percentage'] }}</span><span>%</span>
    </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.0.2/Chart.js"></script>
<script>
    var total_percentage ={{ results_voters['percentage'] }};
    var remove = 100 - total_percentage;
    var pieData = {
        labels: [],
        datasets: [
            {
                data: [total_percentage.toFixed(2), remove],
                backgroundColor: [
                    "#337ab7"
                ],
            }]
    };
    Chart.defaults.global.responsive = false;
    Chart.defaults.global.tooltips.enabled = false;
    var context = $("#colors");
    var skillsChart = new Chart(context, {
                showTooltips: false,
                type: 'doughnut',
                data: pieData,
                options: {
                    circumference: Math.PI,
                    rotation: 1.0 * Math.PI,
                }
            }
    );

    var txt = $('#total_turnout').html();
    var convert=parseFloat(txt).toFixed(2);
    console.log(convert);
    $('#total_turnout').html(convert);

</script>


