   <table id="summary" class="display responsive no-wrap" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>{{ _('Територија име') }}</th>
            <th style="max-width:300px;">{{ _('Име') }}</th>
            <th>{{ _('Топ Резултати') }}</th>
            <th style="text-align:center">{{ _('Укупна излазност') }}</th>

        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>{{ _('Територија име') }}</th>
            <th>{{ _('Име') }}</th>
            <th>{{ _('Топ Резултати') }}</th>
            <th style="text-align:center">{{ _('Укупна излазност') }}</th>
        </tr>
    </tfoot>
    <tbody id="body-summary">
    </tbody>
</table>



