   <table id="details" class="display" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Territorija Ime</th>
                             {% set count = 0 %}
                            {%  for item in data %}
                                    {% set count = count + 1 %}
                                    {%  if count<=5 %}
                                    <th>{{ count }} - {%  if typeizbori=="predsjednicki" %}
                                                                {{ item['kandidat'] }}
                                                            {%  else %}
                                                                    {{ item['izbornaLista'] }}
                                                            {% endif %}</th>
                                    {% endif %}
                              {% endfor %}
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Territorija Ime</th>
                             {% set count = 0 %}
                            {%  for item in data %}
                                    {% set count = count + 1 %}
                                    {%  if count<=5 %}
                                    <th>{{ count }} - {%  if typeizbori=="predsjednicki" %}
                                                                {{ item['kandidat'] }}
                                                            {%  else %}
                                                                    {{ item['izbornaLista'] }}
                                                            {% endif %}</th>
                                    {% endif %}
                              {% endfor %}
                    </tr>
                </tfoot>
                <tbody>
                    {% set countlista = 5 %}

                    {%  for item in territories %}
                        <tr>
                                        <td>
                                            {{ item.teritorija }}
                                        </td>
                                        <td>
                                        {%  if data[0]['izbornaLista']==item['rezultat'][0]['izbornaLista'] %}

                                                 {{  item['rezultat'][0]['rezultat']['glasova'] }}

                                        {%  endif %}
                                        </td>
                                         <td>
                                        {%  if data[1]['izbornaLista']==item['rezultat'][1]['izbornaLista'] %}

                                                 {{  item['rezultat'][1]['rezultat']['glasova'] }}

                                        {%  endif %}
                                        </td>
                                         <td>
                                        {%  if data[2]['izbornaLista']==item['rezultat'][2]['izbornaLista'] %}

                                                 {{  item['rezultat'][2]['rezultat']['glasova'] }}

                                        {%  endif %}
                                        </td>
                                       <td>
                                        {%  if data[3]['izbornaLista']==item['rezultat'][3]['izbornaLista'] %}

                                                 {{  item['rezultat'][3]['rezultat']['glasova'] }}

                                        {%  endif %}
                                        </td>
                                        <td>
                                        {%  if data[4]['izbornaLista']==item['rezultat'][4]['izbornaLista'] %}

                                                 {{  item['rezultat'][4]['rezultat']['glasova'] }}

                                        {%  endif %}
                                        </td>



                        </tr>
                    {% endfor %}
                </tbody>
            </table>