
<div class="col-md-12 col-sm-12 col-xs-12">
    <a href="#" id="all-results" class="disabled-link btn btn-default" disabled>
        Сви резултати
    </a>
</div>
<div id="containermap" class="col-md-12 col-sm-12 col-xs-12 lists">
</div>
  <div class="col-md-12 col-md-offset-3">
      {% include "type/_legend.html" %}
  </div>
   <script type="text/javascript">
       function transliterate(word)
       {
            var A = {};
            var result = '';
            A["Ё"]="YO";A["Й"]="I";A["Ц"]="C";A["У"]="U";A["К"]="K";A["Е"]="E";A["Н"]="N";A["Г"]="G";A["Ш"]="Š";A["Щ"]="Dž";A["З"]="Z";A["Х"]="H";A["Ъ"]="Lj";
            A["ё"]="yo";A["й"]="i";A["ц"]="c";A["у"]="u";A["к"]="k";A["е"]="e";A["н"]="n";A["г"]="g";A["ш"]="š";A["щ"]="dž";A["з"]="z";A["х"]="h";A["ъ"]="lj";
            A["Ф"]="F";A["Ы"]="I";A["В"]="V";A["А"]="A";A["П"]="P";A["Р"]="R";A["О"]="O";A["Л"]="L";A["Д"]="D";A["Ж"]="Ž";A["Э"]="E";A["Ђ"]="Đ";A["Ћ"]="Ć";A["Њ"]="Nj";
            A["ф"]="f";A["ы"]="i";A["в"]="v";A["а"]="a";A["п"]="p";A["р"]="r";A["о"]="o";A["л"]="l";A["д"]="d";A["ж"]="ž";A["э"]="e";A["ђ"]="đ";A["ћ"]="ć";A["њ"]="nj"
            A["Я"]="YA";A["Ч"]="Č";A["С"]="S";A["М"]="M";A["И"]="I";A["Т"]="T";A["Ь"]="'";A["Б"]="B";A["Ю"]="YU";A["Љ"]="Lj";A["Џ"]="Dž";A["џ"]="dž";
            A["я"]="ya";A["ч"]="č";A["с"]="s";A["м"]="m";A["и"]="i";A["т"]="t";A["ь"]="'";A["б"]="b";A["ю"]="yu";A["љ"]="lj";
            for(var i = 0; i < word.length; i++) {
                var c = word.charAt(i);
                result += A[c] || c;
            }
            return result;
        }



        var teritory_selected=0;
        $(function () {

        function ballots(){
            $.ajax({
                type: "GET",
                url: "http://datacentar.io/api/izbori/parties/"+selected_name,
                async: false,
                dataType: 'json',
                success: function (response) {
                    color_selected=response['color'];
                    },
                error: function (error) {
                    console.log(error);
                }
            });
        }
       function territory_selected(selected_name){
       console.log(selected_name);
        var color_selected="";
            $.ajax({
                type: "GET",
                url: "http://datacentar.io/api/izbori/parties/"+selected_name,
                async: false,
                dataType: 'json',
                success: function (response) {
                    color_selected=response['color'];
                    },
                error: function (error) {
                    console.log(error);
                }
            });
        $('#containermap').html('');
    $(function () {
            $.getJSON('{{ url_for("static",filename="data/serbia-municipality.geojson") }}', function (geojson) {
            var data = [];
            var i = 0;
                {% if typeizbori=="parlamentarni" %}

                    {%  for winner in winner_territory %}
                             data.push({
                                "NAME_2": transliterate("{{ winner['teritorija'] }}"),
                                 "terrigorySlug": transliterate("{{ winner['teritorijaSlug'] }}"),
                                "color": color_selected,
                                 "izbornaLista":""
                        });
                    {% endfor %}
                {% endif %}
             {% if typeizbori=="predsjednicki" %}
                 console.log(color_selected);
                    {%  for winner in winner_territory %}
                         data.push({
                           "NAME_2": transliterate("{{ winner['teritorija'] }}"),
                            "terrigorySlug": transliterate("{{ winner['teritorijaSlug'] }}"),
                           "color": color_selected,
                            "kandidat":""
                    });
                    {% endfor %}
                {% endif %}
            // Initialize the map
            $('#containermap').highcharts('Map', {
                title: {
                    text: ''
                },
                tooltip:{
                  'enabled':false
                },
                plotOptions: {
                    series: {
                        cursor: 'pointer',
                        point: {
                            events: {
                             click: function () {
                                    $('.party_info').show();
                                    $('#party-territory-name').html('');
                                    $('#voters_turnout').html('');
                                    $('#winner-territory').html('');
                                    $('#winner-party').html('');
                                    $.ajax({
                                       type: "GET",
                                        {% if typeizbori=="parlamentarni" %}
                                            {% if year==2000 %}
                                            url: "http://datacentar.io/api/izbori/1/parlamentarni/godina/{{ year }}/teritorija/"+ this.terrigorySlug + "/kandidat/"+selected_name+"/instanca/3/krug/None",
                                            {% endif %}
                                             {% if year!=2000 %}
                                            url: "http://datacentar.io/api/izbori/2/parlamentarni/godina/{{ year }}/teritorija/"+ this.terrigorySlug + "/kandidat/"+selected_name+"/instanca/3/krug/None",
                                            {% endif %}
                                        {% endif %}
                                        {% if typeizbori=="predsjednicki" %}
                                            url: "http://datacentar.io/api/izbori/2/predsjednicki/godina/{{ year }}/teritorija/"+ this.terrigorySlug + "/kandidat/"+selected_name+"/instanca/3/krug/{{ krug }}",
                                        {% endif %}

                                        async: false,
                                        dataType: 'json',
                                        success: function (response) {

                                            $('#selected-territory-name').text(response['array1']['teritorija'])
                                                  var parties=[];
                                                        {% for i in list_political_parties %}
                                                             parties.push({
                                                                    name: "{{ i['name'] }}",
                                                                    color: "{{ i['color'] }}"
                                                                });
                                                        {% endfor %}
                                                        var color="";
                                                         var color1="";
                                                        {% if typeizbori=="parlamentarni" %}
                                                         $.each(parties, function (key, index) {
                                                                if(index.name==response['array2'][0]['izbornaLista']){
                                                                    color=index.color;
                                                                }
                                                             if(index.name==response['array2'][1]['izbornaLista']){
                                                                    color1=index.color;
                                                                }
                                                             {% else %}
                                                            $.each(parties, function (key, index) {
                                                                    console.log(response['array2'][0]['kandidat']);
                                                            if(index.name==response['array2'][0]['kandidat']){
                                                                    color=index.color;
                                                                }
                                                             if(index.name==response['array2'][1]['kandidat']){
                                                                    color1=index.color;
                                                                }
                                                             {% endif %}
                                                         })
                                            {% if typeizbori=="parlamentarni" %}
                                                  console.log(response);
                                                $('#first-izborna-lista-name').text(response['array2'][0]['izbornaLista']);
                                                $('#second-izborna-lista-name').text(response['array2'][1]['izbornaLista']);
                                                $('#first-nr-votes-parla').text(response['array2'][0]['rezultat']['glasova'].toLocaleString());
                                                $('#second-nr-votes-parla').text(response['array2'][1]['rezultat']['glasova'].toLocaleString());
                                                $('#first-progress-parl').css({width:response['array2'][0]['rezultat']['udeo']+"%", background:color});
                                                $('#second-progress-parl').css({width:response['array2'][1]['rezultat']['udeo']+"%", background:color1});
                                                $('#first-percentage-parl').text(response['array2'][0]['rezultat']['udeo']);
                                                $('#first-percentage-value-parl').text(Number(response['array2'][0]['rezultat']['udeo']).toFixed(2)+"%");
                                                $('#second-percentage-value-parl').text(Number(response['array2'][1]['rezultat']['udeo']).toFixed(2)+"%");
                                            {% else %}
                                                console.log(response);
                                                $('#first-kandidat-name').text(response['array2'][0]['kandidat']);
                                                $('#second-kandidat-name').text(response['array2'][1]['kandidat']);
                                                $('#first-nr-votes-pred').text(response['array2'][0]['rezultat']['glasova'].toLocaleString());
                                                $('#second-nr-votes-pred').text(response['array2'][1]['rezultat']['glasova'].toLocaleString());
                                                $('#first-progress-pred').css({width:response['array2'][0]['rezultat']['udeo'], background:color});
                                                $('#second-progress-pred').css({width:response['array2'][1]['rezultat']['udeo'], background:color1});
                                                $('#first-percentage-value-pred').text(Number(response['array2'][0]['rezultat']['udeo']).toFixed(2)+"%");
                                                $('#second-percentage-value-pred').text(Number(response['array2'][1]['rezultat']['udeo']).toFixed(2)+"%");
                                            {% endif %}

                                            var teritorija=response['array1']['teritorija'];
                                            $('#party-territory-name').text(teritorija)
                                              {% if typeizbori=="parlamentarni" %}
                                           var izbornaLista=response['array1']['izbornaLista'];

                                                 {% if year!=2000 %}
                                                    var voters_turnout=response['array1']['rezultat']['glasova'];
                                                    var resigtered_voters=response['array1']['brojUpisanihBiracaUBirackiSpisak'];
                                                    var voters=response['array1']['biraciKojiSuGlasali']['broj'];
                                                    var percentage=(voters / resigtered_voters) * 100
                                                      $('#voters_turnout').append('<b>Total voters turnout: </b> <span style="float:right;margin-right:20px;">'+percentage.toFixed(2)+'%</span>');
                                                {% endif %}
                                                var result_votes=response['array1']['rezultat']['glasova'];
                                                var percentage_votes=response['array1']['rezultat']['udeo'];
                                                //$('#result_votes').html('<b>Total votes: </b> ' +result_votes);
                                               $('#winner-territory').append("<span>"+izbornaLista+"</span><span style='float:right;margin-right:20px'>"+ percentage_votes.toFixed(2)+"%</span>");
                                               var winner=response['array2'][0]['izbornaLista'];
                                                var winner_percentage=Number(response['array2'][0]['rezultat']['udeo']).toFixed(2);
                                                $('#winner-party').append("<span style=''>Winner: "+winner+"</span><span style='float:right;margin-right:20px;'>"+winner_percentage+"%</span>");
                                            {% else %}
                                                 var izbornaLista=response['array1']['kandidat'];
                                                    console.log(response['array1']['kandidat']);
                                                    var voters_turnout=response['array1']['rezultat']['glasova'];
                                                    var resigtered_voters=response['array1']['brojUpisanihBiracaUBirackiSpisak'];
                                                    var voters=response['array1']['biraciKojiSuGlasali']['broj'];
                                                    var percentage=(voters / resigtered_voters) * 100
                                                      $('#voters_turnout').append('<b>Total voters turnout: </b> <span style="float:right;margin-right:20px;">'+percentage.toFixed(2)+'%</span>');

                                                var result_votes=response['array1']['rezultat']['glasova'];
                                                var percentage_votes=response['array1']['rezultat']['udeo'];
                                                //$('#result_votes').html('<b>Total votes: </b> ' +result_votes);
                                               $('#winner-territory').append("<span>"+izbornaLista+"</span><span style='float:right;margin-right:20px'>"+ percentage_votes.toFixed(2)+"%</span>");
                                               var winner=response['array2'][0]['kandidat'];
                                                var winner_percentage=Number(response['array2'][0]['rezultat']['udeo']).toFixed(2);
                                                $('#winner-party').append("<span style=''>Winner: "+winner+"</span><span style='float:right;margin-right:20px;'>"+winner_percentage+"%</span>");
                                            {% endif %}
                                        },
                                        error: function (error) {
                                            console.log(error);
                                        }
                                    });
                                }
                            }
                        }
                    }
                },
                mapNavigation: {
                    enableMouseWheelZoom:false,
                    enabled: true,
                    buttonOptions: {
                        verticalAlign: 'bottom'
                    }
                },
                colorAxis: {
                    min: 0
                },
                series: [{
                    data: data,
                    mapData: geojson,
                    joinBy: ['NAME_2',0],
                    keys: ['NAME_1', 'value'],
                    name: "Teritorija",
                    states: {
                        hover: {
                            color: '#BADA55'
                        }
                    },


                }]
            });
            });
        });
    }

       function init_map(selected_candidate){
    {#    $('.party_info').hide();#}
            $.getJSON('{{ url_for("static",filename="data/serbia-municipality.geojson") }}', function (geojson) {
            var data = [];
            var i = 0;
                {% if typeizbori=="parlamentarni" %}

                    {%  for winner in winner_territory %}
                        data.push({
                            "teritorija": transliterate("{{ winner['teritorija'] }}"),
                            "terrigorySlug": transliterate("{{ winner['teritorijaSlug'] }}"),
                            "color": "{% for list in list_political_parties %} {% if winner['rezultat'][0]['izbornaListaSlug']==list['slug'] %}{{ list['color'] }} {% endif %} {% endfor %}",
                            "izbornaLista":""
                        });
                    {% endfor %}
                {% endif %}
             {% if typeizbori=="predsjednicki" %}

                    {%  for winner in winner_territory %}

                         data.push({
                           "teritorija": transliterate("{{ winner['teritorija'] }}"),
                            "terrigorySlug": transliterate("{{ winner['teritorijaSlug'] }}"),
                        {% if year==2012 %}
                           "color": "{% for list in list_political_parties %} {% if winner['rezultat'][0]['kandidat']==list['name'] %}{{ list['color'] }} {% endif %} {% endfor %}",
                        {% else %}
                            "color": "{% for list in list_political_parties %} {% if winner['rezultat'][0]['kandidatSlug']==list['slug'] %}{{ list['color'] }} {% endif %} {% endfor %}",
                        {% endif %}
                            "kandidat":""
                    });
                    {% endfor %}

                {% endif %}

            $('#containermap').highcharts('Map', {
                title: {
                    text: ''
                },
                tooltip:{
                  'enabled':false
                },
                plotOptions: {
                    series: {
                        cursor: 'pointer',
                        point: {
                            events: {
                                mouseOver: function () {
                                       $('#territory-name').html('');
                                        $('#party-list').html('');
                                    $.ajax({
                                        type: "GET",
                                    {% if typeizbori=="parlamentarni" %}
                                        {% if year==2000 %}
                                        url: "http://datacentar.io/api/izbori/1/parlamentarni/godina/{{ year }}/teritorija/"+ this.terrigorySlug + "/instanca/3/krug/None",
                                        {% endif %}
                                        {% if year!=2000 %}
                                         url: "http://datacentar.io/api/izbori/2/parlamentarni/godina/{{ year }}/teritorija/"+ this.terrigorySlug + "/instanca/3/krug/None",
                                        {% endif %}
                                    {% endif %}
                                    {% if typeizbori=="predsjednicki" %}
                                         url: "http://datacentar.io/api/izbori/2/predsjednicki/godina/{{ year }}/krug/{{ krug }}/teritorija/"+ this.terrigorySlug,
                                    {% endif %}
                                        async: false,
                                        dataType: 'json',
                                        success: function (response) {
                                            $('.territory_info').show();
                                            {% if typeizbori=="parlamentarni" %}
                                                var registered_voters=response['brojUpisanihBiracaUBirackiSpisak'];
                                                var voters=response['biraciKojiSuGlasali']['broj'];
                                                var percentage=(voters / registered_voters) * 100;
                                            {% endif %}
                                            {% if typeizbori=="predsjednicki" %}
                                                var registered_voters=response[0]['brojUpisanihBiracaUBirackiSpisak'];
                                                var voters=response[0]['biraciKojiSuGlasali']['broj'];
                                                var percentage=(voters / registered_voters) * 100;
                                            {% endif %}
                                            {% if typeizbori=="parlamentarni" %}
                                            $('#territory-name').append("<span>Tериторија: "+response['teritorija']+"</span><span style='float:right;margin-right:15px;'>"+Number(percentage).toFixed(2)+"%</span>");
                                                    var parties=[];
                                                        {% for i in list_political_parties %}
                                                             parties.push({
                                                                    name: "{{ i['name'] }}",
                                                                    color: "{{ i['color'] }}"
                                                                });
                                                        {% endfor %}
                                                    var color="";

                                                  $.each(response['rezultat'], function (key, index) {

                                                       $.each(parties, function (keycolor, indexcolor) {
                                                                if(indexcolor.name==index['izbornaLista']) {
                                                                    color = indexcolor.color;

                                                                }
                                                         })
                                                          $('#party-list').append("<p style='margin-top:10px;margin-bottom:0px;font-size:11px;height:25px'><span style='font-size:10px;margin-left:10px;margin-right:10px;width:10px;height:30px;float:left;background-color:"+color+"'></span>"+index['izbornaLista']+"<span style='float:right;margin-right:20px;'>"+Number(index['rezultat']['udeo']).toFixed(2)+"%</span></p>");
                                                  })
                                            {% endif %}
                                            {% if typeizbori=="predsjednicki" %}
                                                  $('#territory-name').append("<span>Teritorija: "+response[0]['teritorija']+"</span><span style='float:right;margin-right:15px;'>"+Number(percentage).toFixed(2)+"%</span>");
                                                    var parties=[];
                                                        {% for i in list_political_parties %}
                                                             parties.push({
                                                                    name: "{{ i['name'] }}",
                                                                    color: "{{ i['color'] }}"
                                                                });
                                                        {% endfor %}
                                                    var color="";

                                                  $.each(response, function (key, index) {
                                                         $.each(index['rezultat'], function (key1, index1) {
                                                              $.each(parties, function (keycolor, indexcolor) {

                                                                    if(indexcolor.name==index1['kandidat']) {
                                                                        color = indexcolor.color;
                                                                    }
                                                         })

                                                          $('#party-list').append("<p style='margin-top:10px;margin-bottom:0px;font-size:11px;height:25px;'><span style='margin-left:10px;margin-right:10px;width:10px;height:30px;float:left;background-color:"+color+"'></span>"+index1['kandidat']+"<span style='float:right;margin-right:20px;'>"+Number(index1['rezultat']['udeo']).toFixed(2)+"%</span></p>");
                                                         })


                                                  })
                                            {% endif %}

                                           {# $('#selected-territory-name').text(response['teritorija'])
                                            var teritorija=response['teritorija'];
                                            $('#territory-name').text(teritorija)
                                           var izbornaLista=response['rezultat'][0];
                                            $('#winner-territory').html('<b>Indikator: </b> '+ izbornaLista['izbornaLista']);
                                            {% if year!=2000 %}
                                            var voters_turnout=izbornaLista['rezultat']['glasova'];
                                            var resigtered_voters=response['brojUpisanihBiracaUBirackiSpisak'];
                                            var voters=response['biraciKojiSuGlasali']['broj'];
                                            var percentage=(voters / resigtered_voters) * 100
                                            {% endif %}
                                            var result_votes=izbornaLista['rezultat']['glasova'];
                                            var percentage_votes=izbornaLista['rezultat']['udeo'];
                                            {% if year!=2000 %}
                                             $('#voters_turnout').html('<b>Total voters turnout: </b> '+percentage.toFixed(2)+'%');
                                            {% endif %}
                                             $('#result_votes').html('<b>Total votes: </b> ' +result_votes);
                                             $('#percentage').html('<b>Percentage: </b> ' + percentage_votes.toFixed(2)+'%');#}
                                        },
                                        error: function (error) {
                                            console.log(error);
                                        }
                                    });
                                },
                            mouseOut:function(){
                                $('.territory_info').hide();
                            },
                             click: function () {
                                    $('#no-territory-selected').hide();
                                    $('#territory-selected').show();
                                    $('#tabs-other').html('');
                                    $('#all-results').removeClass('disabled_link');
                                    $('#all-results').removeAttr('disabled');
                                    $('#all-results').addClass('btn-selected-territory');
                                    teritory_selected=1;
                                  $('#territory_info').hide();
                                    $.ajax({
                                        type: "GET",
                                    {% if typeizbori=="parlamentarni" %}
                                        {% if year==2000 %}
                                        url: "http://datacentar.io/api/izbori/1/parlamentarni/godina/{{ year }}/teritorija/"+ this.terrigorySlug + "/instanca/3/krug/None",
                                        {% endif %}
                                        {% if year!=2000 %}
                                         url: "http://datacentar.io/api/izbori/2/parlamentarni/godina/{{ year }}/teritorija/"+ this.terrigorySlug + "/instanca/3/krug/None",
                                        {% endif %}
                                    {% endif %}
                                     {% if typeizbori=="predsjednicki" %}
                                         url: "http://datacentar.io/api/izbori/2/predsjednicki/godina/{{ year }}/teritorija/"+ this.terrigorySlug + "/instanca/3/krug/{{ krug }}",
                                    {% endif %}
                                        async: false,
                                        dataType: 'json',
                                        success: function (response) {
                                            console.log(response);
                                            $('#selected-territory-name').text(response['teritorija'])
                                                  var parties=[];
                                                        {% for i in list_political_parties %}
                                                             parties.push({
                                                                    name: "{{ i['name'] }}",
                                                                    color: "{{ i['color'] }}"
                                                                });
                                                        {% endfor %}
                                                        var color="";
                                                         var color1="";
                                                {% if typeizbori=="parlamentarni" %}
                                                    {% if year not in [2003,2012,2014] %}
                                                       $('#tabs-other').append('<p style="padding-left:10px;padding-top:20px;">Bажећих гласачких листића:<span style="float:right;padding-right:20px;">'+response['vazeciGlasackiListici']['broj'].toLocaleString()+'</span><br/>Hеважећих гласачких листића:<span style="float:right;padding-right:20px;">'+response['nevazeciGlasackiListici'].toLocaleString()+'</span></p>');
                                                    {% endif %}
                                                         $.each(parties, function (key, index) {
                                                                if(index.name==response['rezultat'][0]['izbornaLista']){
                                                                    color=index.color;
                                                                }
                                                             if(index.name==response['rezultat'][1]['izbornaLista']){
                                                                    color1=index.color;
                                                                }
                                                         })
                                            {% endif %}
                                            {% if typeizbori=="predsjednicki" %}
                                                         $.each(parties, function (key, index) {
                                                                console.log(parties);
                                                                if(index.name==response['rezultat'][0]['kandidat']){

                                                                    color=index.color;
                                                                }
                                                             if(index.name==response['rezultat'][1]['kandidat']){
                                                                    color1=index.color;
                                                                }

                                                         })
                                            {% endif %}
                                            {% if typeizbori=="parlamentarni" %}

                                                $('#first-izborna-lista-name').text(response['rezultat'][0]['izbornaLista']);
                                                $('#second-izborna-lista-name').text(response['rezultat'][1]['izbornaLista']);
                                                $('#first-nr-votes-parla').text(response['rezultat'][0]['rezultat']['glasova'].toLocaleString());
                                                $('#second-nr-votes-parla').text(response['rezultat'][1]['rezultat']['glasova'].toLocaleString());
                                                $('#first-progress-parl').css({width:response['rezultat'][0]['rezultat']['udeo']+"%", background:color});
                                                $('#second-progress-parl').css({width:response['rezultat'][1]['rezultat']['udeo']+"%", background:color1});
                                                $('#first-percentage-parl').text(response['rezultat'][0]['rezultat']['udeo']);
                                                $('#first-percentage-value-parl').text(Number(response['rezultat'][0]['rezultat']['udeo']).toFixed(2)+"%");
                                                $('#second-percentage-value-parl').text(Number(response['rezultat'][1]['rezultat']['udeo']).toFixed(2)+"%");
                                            {% else %}

                                                $('#first-kandidat-name').text(response['rezultat'][0]['kandidat']);
                                                $('#second-kandidat-name').text(response['rezultat'][1]['kandidat']);
                                                $('#first-nr-votes-pred').text(response['rezultat'][0]['rezultat']['glasova'].toLocaleString());
                                                $('#second-nr-votes-pred').text(response['rezultat'][1]['rezultat']['glasova'].toLocaleString());
                                                $('#first-progress-pred').css({width:response['rezultat'][0]['rezultat']['udeo'], background:color});
                                                $('#second-progress-pred').css({width:response['rezultat'][1]['rezultat']['udeo'], background:color1});
                                                $('#first-percentage-value-pred').text(Number(response['rezultat'][0]['rezultat']['udeo']).toFixed(2)+"%");
                                                $('#second-percentage-value-pred').text(Number(response['rezultat'][1]['rezultat']['udeo']).toFixed(2)+"%");
                                            {% endif %}

                                        },
                                        error: function (error) {
                                            console.log(error);
                                        }
                                    });
                                }
                            }
                        }
                    }
                },

                mapNavigation: {
                    enableMouseWheelZoom:false,
                    enabled: true,
                    buttonOptions: {
                        verticalAlign: 'bottom'
                    }
                },
                colorAxis: {
                    min: 0
                },
                series: [{
                    showInLegend: false,
                    data: data,
                    mapData: geojson,
                    joinBy: ['NAME_2','teritorija'],
                    keys: ['NAME_2', 'NAME_1'],
                    animation: true,
                    name: 'Teritorija',


                }]

            });
            });
       }
            init_map();
            $('.party_name').click(function(e){
            var selected_name=$(this).attr('href');
            territory_selected(selected_name);
                $('.party-info').hide();
                $('.territory_info').hide();
            });

            $('#start-map').click(function(){
                $('.party-info').hide();
                $('.territory_info').hide();
                $('#containermap').html('');
                init_map();
             })
          $('#all-results').on('click',function(e){
              e.preventDefault();
               $('#no-territory-selected').show();
               $('#territory-selected').hide();
                $(this).removeClass('btn-selected-territory');
                $(this).attr('disabled','disabled');

                init_map();


              $('.party_info').hide();
              $('ul li').removeClass('select-p-tab');
              $('#show-all-parties').addClass('select-p-tab');
            })
         $('.tabs_table ul li').removeClass('disabled-link');
            $('.tabs_table ul li').on('click',function(){
                $('a[href="'+a+'"]').removeClass('disabled-link');
               if ($(this).attr('aria-expanded') === "true") {
                  var a= $(this).find('a:first').attr('href');
                   if(a=="#tabs-details"){
                       $('a[href="#tabs-summary"]').removeClass('disabled-tab');
                       $('a[href="#tabs-details"]').addClass('disabled-tab');

                   }else{
                       $('a[href="#tabs-summary"]').addClass('disabled-tab');
                       $('a[href="#tabs-details"]').removeClass('disabled-tab');
                   }

               }else{
                $('a[href="'+a+'"]').removeClass('disabled-link');
               }
               })

           $(window).resize(function () {
               $("#containermap").highcharts().setSize($("#containermap").width(),$("#containermap").height(),doAnimation = true);
           });
        });



    </script>