
{% extends "layout.html" %}
{% block body %}
    <div class="loader"></div>
<style>
    .loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 99999;
	background: url("{{ url_for('static', filename = 'assets/page-loader.gif') }}")  50% 50% no-repeat rgb(249,249,249);
}
</style>
 <section style="padding-top:100px;padding-bottom: 0px;">
 <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12 selected-year-type">
                 {% if typeizbori=="parlamentarni" %}
                     <span>Парламентарни</span>
                     {% else %}
                     <span>Председнички</span>
                 {% endif %}
            <span>{{ year }}</span>
                {% if krug=="prvi"and status=="none" %}
                    <span>Први круг</span>
               {% endif %}
                    {% if krug=="drugi" and status=="none" %}
                            <span>Други круг</span>
                    {% endif %}
                    {% if krug=="prvi" and status=="ponovljeni" %}
                            <span>Поновљени</span>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>

    <section class="type-initial-results" style="min-height:190px;">

    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-9 col-xs-12 col-sm-12" id="no-territory-selected">
                    {% include "type/_indicators_no_teritory_selected.html" %}
                </div>
                <div class="col-md-3 col-sm-5 col-xs-9" id="piechart-no-territory-selected">
                    {% if year!=2000 %}
                        <div class="row">
                            {% include "type/_piechart.html" %}
                        </div>
                    {% endif %}
                </div><!-- end of piechart -->

                <div class="col-md-6 col-xs-12 col-sm-12" id="territory-selected" style="display:none">
                    {% include "type/_indicators_territory_selected.html" %}
                </div>
            </div>
        </div>
    </div>
    </section>

    <div class="col-m-12 map-div"  style="background:#edecd1">
        <div class="row" style="margin-top:5px;">
            <div class="col-md-9 col-sm-12 col-xs-12">
                {% include "type/_map.html" %}
            </div><!-- end of map -->
            <div class="col-md-3 col-sm-12 col-xs-12" style="padding-top: 20px;padding-right:30px;">
                {% include "type/_indicators.html" %}
            </div><!-- end of indicators -->

        </div>
    </div>
    <!-- end of map and indicators -->
    <div class="row" style="margin-bottom:88px;" id="datatable-results">
        <div class="col-md-12 col-sm-12 col-xs-12">
            {% include "type/_table.html" %}
        </div>
    </div><!-- end of table summary and table details -->
{% endblock %}
