<!DOCTYPE html>
<html lang="en">
<head>
{% include 'include/head.html' %}
</head>
<body id="page-top">
    {% include 'include/navigation.html' %}
            <div class="container-fluid">
                          {% block body %}

                          {% endblock %}
            </div>
    <div id="contact">
        {% include 'include/footer.html' %}
    </div>
</body>
<div class="loader"></div>
<style>
    .loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url("{{ url_for('static', filename = 'assets/page-loader.gif') }}")  50% 50% no-repeat rgb(249,249,249);
}
</style>
</html>
<script>

        function transliterate(word)
       {
            var A = {};
            var result = '';
            A["Ё"]="YO";A["Й"]="I";A["Ц"]="C";A["У"]="U";A["К"]="K";A["Е"]="E";A["Н"]="N";A["Г"]="G";A["Ш"]="Š";A["Щ"]="Dž";A["З"]="Z";A["Х"]="H";A["Ъ"]="Lj";
            A["ё"]="yo";A["й"]="i";A["ц"]="c";A["у"]="u";A["к"]="k";A["е"]="e";A["н"]="n";A["г"]="g";A["ш"]="š";A["щ"]="dž";A["з"]="z";A["х"]="h";A["ъ"]="lj";
            A["Ф"]="F";A["Ы"]="I";A["В"]="V";A["А"]="A";A["П"]="P";A["Р"]="R";A["О"]="O";A["Л"]="L";A["Д"]="D";A["Ж"]="Ž";A["Э"]="E";A["Ђ"]="Đ";A["Ћ"]="Ć";A["Њ"]="Nj";
            A["ф"]="f";A["ы"]="i";A["в"]="v";A["а"]="a";A["п"]="p";A["р"]="r";A["о"]="o";A["л"]="l";A["д"]="d";A["ж"]="ž";A["э"]="e";A["ђ"]="đ";A["ћ"]="ć";A["њ"]="nj"
            A["Я"]="YA";A["Ч"]="Č";A["С"]="S";A["М"]="M";A["И"]="I";A["Т"]="T";A["Ь"]="'";A["Б"]="B";A["Ю"]="YU";A["Љ"]="Lj";A["Џ"]="Dž";A["џ"]="dž";
            A["я"]="ya";A["ч"]="č";A["с"]="s";A["м"]="m";A["и"]="i";A["т"]="t";A["ь"]="'";A["б"]="b";A["ю"]="yu";A["љ"]="lj";
            for(var i = 0; i < word.length; i++) {
                var c = word.charAt(i);
                result += A[c] || c;
            }
            return result;
        }
        function fill_html(response){
            $('.total_percentage_value').html(response['percentage'].toFixed(2));
            $('.total_voters_value').html(response['total_voters'].toLocaleString());
            var arrayLength=response.length;
            $.each(response['candidates'], function( index, value ) {
                $('#party-list-names').append('<li style="font-size:12px;"><a href='+value['izbornaListaSlug']+' class="party_name">'+value['izbornaLista']+'</a></li>');
            });
            $('.first-progress').css('background-color', response['candidates'][0]['boja']);
            $('.second-progress').css('background-color', response['candidates'][1]['boja']);
            $('.name-list1').text(response['candidates'][0]['izbornaLista']);
            $('.name-list1,.nr-votes1, #first-percentage-value-main').css('color',response['candidates'][0]['boja']);
            $('.name-list2,.nr-votes2, #second-percentage-value-main').css('color',response['candidates'][1]['boja']);
            $('.name-list2').text(response['candidates'][1]['izbornaLista']);
            var nr_votes_1 = response['candidates'][0]['glasova'].toLocaleString();
            var nr_votes_2 = response['candidates'][1]['glasova'].toLocaleString();
            $('.nr-votes1').text(nr_votes_1);
            $('.nr-votes2').text(nr_votes_2);
            var udeo1 = response['candidates'][0]['udeo'];
            var udeo2 = response['candidates'][1]['udeo'];
            $('.first-progress').css('width', udeo1.toFixed(2) + '%');
            $('.second-progress').css('width', udeo2.toFixed(2) + '%');
            $('#first-percentage-value-main').html(udeo1.toFixed(2) + '%');
             $('#second-percentage-value-main').html(udeo2.toFixed(2) + '%');
            $('.party_name').on('click',function(e){
                e.preventDefault();
                $('#party-list-names li a').removeClass('select-p-tab');

                var selected_candidate=$(this).attr('href');
                $('#containermap').html('');
                $(this).addClass('select-p-tab');

                $('.territory_info').hide();

                 reinit_map(response,selected_candidate);
            })
        }
        function reinit_map(response,selected_candidate){
             $('.party_info').hide();
            $.getJSON('{{ url_for("static",filename="data/serbia-municipality.geojson") }}', function (geojson) {
                var data = [];

                $(response['winners']).each(function (index, value) {
                    $(value['rezultat']).each(function (a, b) {
                        if (b['izbornaListaSlug'] == selected_candidate) {
                            data.push({
                                "teritorija": transliterate(value['teritorija']),
                                "terrigorySlug": transliterate(value['teritorijaSlug']),
                                "value": b['rezultat']['udeo'],
                                "izbornaLista": selected_candidate
                            });
                        }
                    })
                })


                $('#containermap').highcharts('Map', {
                    title: {
                        text: ''
                    },
                    tooltip: {
                        'enabled': false
                    },
                    plotOptions: {
                        series: {
                            cursor: 'pointer',
                            point: {
                                events: {
                                    click: function () {
                                        var terrritory_selected_slug = this.terrigorySlug;
                                         var terrritory_selected = this.teritorija;
                                        var izbornaLista=this.izbornaLista;
                                        console.log(izbornaLista);
                                        on_reinit_map_click(response,terrritory_selected_slug,this.izbornaLista,terrritory_selected);
                                    }
                                }
                            }
                        }
                    },
                    mapNavigation: {
                        enableMouseWheelZoom: false,
                        enabled: true,
                        buttonOptions: {
                            verticalAlign: 'bottom'
                        }
                    },
                    colorAxis: {
                        min: 0
                    },
                    series: [{
                        showInLegend: true,
                        data: data,
                        mapData: geojson,
                        joinBy: ['NAME_2', 'teritorija'],
                        keys: ['NAME_2', 'NAME_1'],
                        animation: true,
                        name: 'Teritorija',
                        {#dataLabels: {
                            enabled: true,
                            color: '#FFFFFF',
                            format: '{point.NAME_2}'
                        },#}
                    }]
                });
            })
        }
        // details table
            var renderer;

           function init_map_territory_selected(response,selected_territory,selected_candidate){
            $('.party_info').hide();

            $.getJSON('{{ url_for("static",filename="data/serbia-municipality.geojson") }}', function (geojson) {
                var data = [];
                var data1 = [];
                var chart="";
                 $('#containermap').highcharts();
                   $(response['winners']).each(function (index, value) {
                       $(value['rezultat']).each(function(a,b){
                    if(selected_territory==value['teritorija'] && b['izbornaListaSlug']==selected_candidate){
                               data.push({
                                "teritorija": transliterate(value['teritorija']),
                                "terrigorySlug": transliterate(value['teritorijaSlug']),
                                "value": b['rezultat']['udeo'],
                                "izbornaLista": selected_candidate,
                                   'color':b['boja'],
                                     'plotBorderColor': 'blue',
                                     'borderColor': "blue",
                                        'plotBackgroundColor': 'blue',
                                        'stroke':'white',
                                        'selected_territorija':'true',
                                    'borderWidth': 10,
                                    'title': {
                                     'text': 'Mountain house indoor temperatures'
                                    },


                            });

                    }else  if (b['izbornaListaSlug'] == selected_candidate) {
                                data.push({
                                "teritorija": transliterate(value['teritorija']),
                                "terrigorySlug": transliterate(value['teritorijaSlug']),
                                "value": b['rezultat']['udeo'],
                                "izbornaLista": selected_candidate,
                            });
                    }
                    })

                })
                console.log(data1);
                $('#containermap').highcharts('Map', {
                    title: {
                        text: ''
                    },
                    tooltip: {
                        'enabled': false
                    },
                    plotOptions: {
                        series: {
                            allowPointSelect: true,
                            cursor: 'pointer',
                            point: {
                                events: {
                                    click: function () {
                                        var terrritory_selected_slug = this.terrigorySlug;
                                         var terrritory_selected = this.teritorija;
                                        var izbornaLista=this.izbornaLista;
                                        console.log(izbornaLista);
                                        on_reinit_map_click(response,terrritory_selected_slug,this.izbornaLista,terrritory_selected);
                                    }
                                }
                            }
                        }
                    },
                    mapNavigation: {
                        enableMouseWheelZoom: false,
                        enabled: true,
                        buttonOptions: {
                            verticalAlign: 'bottom'
                        }
                    },
                    colorAxis: {
                        min: 0
                    },
                    series: [{
                        data: data,
                        mapData: geojson,
                        joinBy: ['NAME_2', 'teritorija'],
                        keys: ['NAME_2', 'NAME_1'],
                        animation: true,
                        name: 'Teritorija',
                       {#   dataLabels: {
                            enabled: true,
                            color: '#FFFFFF',

                        },#}
                    }]
                });
            })
       }
        function init_details_table(response){
            var init_candidates = [];
             $(response['candidates']).each(function(a,b){
                     if (a<=4) {
                         init_candidates.push({'id': 'selected_' + b['izbornaListaSlug'], 'text': b['izbornaLista'],'selected':true});
                     }
                 $("#select2").append('<option value="selected_' + b['izbornaListaSlug'] + '">' + b['izbornaLista'] + '</option>');

            })

            $("#select2").select2("data", init_candidates);

            // draw table on load depending on selected parties
             var data = $('#select2').select2('data');

            // draw table on load depending on selected parties

            // draw table on click of select2
            var last_element;
             $('#select2').on('click',function(e) {
                var dataclicked = $('#select2').select2('data');
                 $("#select2").select2("data", dataclicked);
                 $('.data-th').css('display','none');
                 $('.data_glasova').css('display','none');
                $(dataclicked).each(function(key,index) {
                     $('.'+index['id']).show();
                     $('.'+index['id']).show();
                    $('#selected_later_'+index['id']).show();
                 })
             })

             $('#details').on('draw.dt', function () {
                 var data = $('#select2').select2('data');
                 $(data).each(function(key,index) {
                     $('.'+index['id']).show();

                 })
                 $('.paginate_button').on('click',function(){
                     var data1 = $('#select2').select2('data');
                     console.log(data1);
                     $(data1).each(function(key1,index1) {
                     $('.'+index1['id']).show();

                 })
                });
            })
            var arraylength=0;
            arraylength=response['candidates'].length-1;
                for (var i=0;i<=arraylength;i++) {
                    $('#details thead tr').append('<th style="display:none" class="data-th selected_' + response['candidates'][i]['izbornaListaSlug'] + '">' + response['candidates'][i]['izbornaLista'] + '</th>');
                }
            var territories=[];
            $(response['winners']).each(function(key22,index22){
                territories.push({"territory":index22['teritorija'],"territoryslug":index22['teritorijaSlug'],"rezultat":index22['rezultat']});
            })

            var createdarray=[];
            var candidatesterritory_glasova="";
            var territory="";
            var territoryslug="";
            var mergearray=[];
            $(territories).each(function(aa,index){
                territory=index['territory'];
                territoryslug=index['territoryslug'];
                //$('#details tbody').append('<tr><td>'+index['territory']+'</td></tr>');
                $(response['candidates']).each(function(a,b){
                    $(index['rezultat']).each(function(c,d){
                                 if (b['izbornaLista'] == d['izbornaLista']) {
                                     candidatesterritory_glasova = d['rezultat']['glasova'];
                                     //$('#details tbody tr').append('<td>'+d['rezultat']['glasova']+'</td>');
                                     createdarray.push({
                                         "territory": territory,
                                         "territoryslug": territoryslug,
                                         'glasova': candidatesterritory_glasova,
                                         'candidate':d['izbornaListaSlug']

                                     });
                                 }
                    })

                })

                var exists_territory="";
                var exists_territory_slug="";
                var glasova=[];
                $(createdarray).each(function(a,b){
                    if(index['territoryslug']==b['territoryslug']){
                        exists_territory=b['territory'];
                        exists_territory_slug=b['territoryslug'];
                        glasova.push({'glasova':b['glasova'],'candidate':b['candidate']});

                    }
                })
                mergearray.push({'territory':exists_territory,'rezults':glasova,'territoryslug':exists_territory_slug});
            })
            $(mergearray).each(function (a, b) {
                $('#details tbody').append('<tr class=' + b['territoryslug'] + '><td>' + b['territory'] + '</tr>');
                $(b['rezults']).each(function (aa, bb) {
                        if (aa <= arraylength) {
                            $('#details tbody tr.' + b['territoryslug']).append('<td style="display:none" class="data_glasova selected_'+bb['candidate']+'"><a class="territory_redirect" href="#" data-territory-slug='+b['territoryslug']+' data-territory='+b['territory']+' data-candidate='+bb['candidate']+'>' + bb['glasova'] + '</a></td>')

                        }
                })
            })
                $('.territory_redirect').click(function(e){
                    e.preventDefault();
                    var territory_slug=$(this).data("territory-slug");
                    var territory=$(this).data("territory");
                    var candidate=$(this).data("candidate");
                     $('#containermap').html('');

                    $('.party_info').show();
                     var territorija=[];
                    $('#territory-selected').show();
                    $('#no-territory-selected').removeClass('col-md-12');
                    $('#no-territory-selected').addClass('col-md-6');
                    $('#piechart-no-territory-selected').hide();
                    $(response['winners']).each(function(key,index){
                        if(territory_slug==index['teritorijaSlug']){
                            territorija.push(index);
                        }
                    });
                    $('.party_name').removeClass('select-p-tab');
                    init_map_territory_selected(response,territory,candidate);
                    winner_territory_info(response,territorija,candidate);
                     $('html, body').animate({scrollTop:0}, 'slow');
                    $('.party_info').show();
                    console.log(candidate);
                    $('#start-map').removeClass('select-p-tab');
                    $('.party_name').removeClass('select-p-tab');
                    $("a[href="+candidate+"]").addClass('select-p-tab');

                })
            }


        // end of details table
        // summry table
      function init_summary_table(response){
          $.each(response['winners'], function (key, index) {
              {% if typeizbori=="parlamentarni" %}
                  $('#summary tbody').append('<tr><td>'+index['teritorija']+'</td>' +
                          '<td>'+index['rezultat'][0]['izbornaLista']+'<br/>'+index['rezultat'][1]['izbornaLista']+'</td>' +
                                '<td>' +
                                '<span class="float-left font-size-11 table-votes col-md-3">'+index['rezultat'][0]['rezultat']['glasova'].toLocaleString()+'</span>'+
                                 '<div class="col-md-7">' +
                                        '<div class="progress">' +
                                            '<div class="progress-bar" style="width:'+index['rezultat'][0]['rezultat']['udeo']+'%;background:'+index['rezultat'][0]['boja']+'" role="progressbar" aria-valuenow='+index['rezultat'][0]['rezultat']['udeo']+' aria-valuemin="0" aria-valuemax="100">' +
                                                '<span class="sr-only">'+index['rezultat'][0]['rezultat']['udeo']+'</span>'+
                                            '</div>'+
                                        '</div>'+
                                '</div>'+
                                '<div class="col-md-2 percentage font-size-11">'+index['rezultat'][0]['rezultat']['udeo'].toFixed(2)+'%</div>'+

                                '<span class="float-left font-size-11 table-votes col-md-3">'+index['rezultat'][1]['rezultat']['glasova'].toLocaleString()+'</span>'+
                                '<div class="col-md-7">' +
                                        '<div class="progress">' +
                                            '<div class="progress-bar" style="width:'+index['rezultat'][1]['rezultat']['udeo']+'%;background:'+index['rezultat'][1]['boja']+'" role="progressbar" aria-valuenow='+index['rezultat'][1]['rezultat']['udeo']+' aria-valuemin="0" aria-valuemax="100">' +
                                                '<span class="sr-only">'+index['rezultat'][1]['rezultat']['udeo']+'</span>'+
                                            '</div>'+
                                        '</div>'+
                                '</div>'+
                                '<div class="col-md-2 percentage font-size-11 col-md-3">'+index['rezultat'][1]['rezultat']['udeo'].toFixed(2)+'%</div>'+
                                '</td>' +
                                 '</tr>');
                           {% else %}

                        $('#summary tbody').append('<tr><td>'+index['teritorija']+'</td>' +
                                '<td>'+index['rezultat'][0]['kandidat']+'<br/>'+index['rezultat'][1]['kandidat']+'</td>' +
                                '<td>' +
                                '<span class="float-left font-size-11 table-votes col-md-3">'+index['rezultat'][0]['rezultat']['glasova'].toLocaleString()+'</span>'+
                                 '<div class="col-md-7">' +
                                        '<div class="progress">' +
                                            '<div class="progress-bar" style="width:'+index['rezultat'][0]['rezultat']['udeo']+'%;background:'+index['rezultat'][0]['boja']+'" role="progressbar" aria-valuenow='+index['rezultat'][0]['rezultat']['udeo']+' aria-valuemin="0" aria-valuemax="100">' +
                                                '<span class="sr-only">'+index['rezultat'][0]['rezultat']['udeo']+'%</span>'+
                                            '</div>'+
                                        '</div>'+
                                '</div>'+
                                '<div class="col-md-2 percentage font-size-11">'+index['rezultat'][0]['rezultat']['udeo'].toFixed(2)+'</div>'+

                                '<span class="float-left font-size-11 table-votes col-md-3">'+index['rezultat'][1]['rezultat']['glasova'].toLocaleString()+'</span>'+
                                '<div class="col-md-7">' +
                                        '<div class="progress">' +
                                            '<div class="progress-bar" style="width:'+index['rezultat'][1]['rezultat']['udeo']+'%;background:'+index['rezultat'][1]['boja']+'" role="progressbar" aria-valuenow='+index['rezultat'][1]['rezultat']['udeo']+' aria-valuemin="0" aria-valuemax="100">' +
                                                '<span class="sr-only">'+index['rezultat'][1]['rezultat']['udeo']+'</span>'+
                                            '</div>'+
                                        '</div>'+
                                '</div>'+
                                '<div class="col-md-2 percentage font-size-11">'+index['rezultat'][1]['rezultat']['udeo'].toFixed(2)+'%</div>'+
                                '</td>' +
                                '</tr>');
                        {% endif %}
                    })
      }
      // end of summary table
      function get_territory_name_percentage(teritorija) {
          var registered_voters=teritorija[0]['brojUpisanihBiracaUBirackiSpisak'];
          var voters=teritorija[0]['biraciKojiSuGlasali'];
          var percentage=(voters / registered_voters) * 100;
          $('#territory-name').append("<span> "+teritorija[0]['teritorija']+"</span><span style='float:right;margin-right:15px;'>"+Number(percentage).toFixed(2)+"%</span>");
      }

      function party_list_percentage_map(key1,index1) {
          $('.territory_info').show();
          $('#party-list').append("<p class='party_list_t'><span id='party-color' style='background-color:" + index1['boja'] + "'></span>" + index1['izbornaLista'] + "<span id='party-list-rez'>" + Number(index1['rezultat']['udeo']).toFixed(2) + "%</span></p>");
      }
      // map click
      function on_map_click(response,territory_selected){
       // $('.territory_info').animate({scrollTop:$('.territory_info').height()}, 1000);


               //alert('More than 960');
          $('#all-results').removeClass('disabled-link');
            $('#territory-name').html('');
            $('#party-list').html('');
            var territorija=[];
            $('#territory-selected').show();
            $('#no-territory-selected').removeClass('col-md-12');
            $('#no-territory-selected').addClass('col-md-6');
            $('#piechart-no-territory-selected').hide();
            $(response['winners']).each(function(key,index){
                if(territory_selected==index['teritorijaSlug']){
                    territorija.push(index);
                }
            })
            $('#tabs-other').html('');
            $('.territory_info').show();
            $(territorija[0]['rezultat']).each(function(key1,index1) {
               party_list_percentage_map(key1,index1);
            })
            get_territory_name_percentage(territorija);

          $('#all-results').removeClass('disabled_link');
          $('#all-results').css('pointer-events','cursor');
          $('#all-results').removeAttr('disabled');
          $('#all-results').addClass('btn-selected-territory');

          $('#selected-territory-name').text(territorija[0]['teritorija'])
          {% if typeizbori=="parlamentarni" %}
               $('#first-izborna-lista-name,#first-nr-votes-parla,#first-percentage-value-parl').css('color',territorija[0]['rezultat'][0]['boja']);
              $('#second-izborna-lista-name,#second-nr-votes-parla,#second-percentage-value-parl').css('color',territorija[0]['rezultat'][1]['boja']);
              $('#first-izborna-lista-name').text(territorija[0]['rezultat'][0]['izbornaLista']);
              $('#second-izborna-lista-name').text(territorija[0]['rezultat'][1]['izbornaLista']);
              $('#first-nr-votes-parla').text(territorija[0]['rezultat'][0]['rezultat']['glasova'].toLocaleString());
              $('#second-nr-votes-parla').text(territorija[0]['rezultat'][1]['rezultat']['glasova'].toLocaleString());
              $('#first-progress-parl').css({width:territorija[0]['rezultat'][0]['rezultat']['udeo']+"%", background:territorija[0]['rezultat'][0]['boja']});
              $('#second-progress-parl').css({width:territorija[0]['rezultat'][1]['rezultat']['udeo']+"%", background:territorija[0]['rezultat'][1]['boja']});
              $('#first-percentage-parl').text(territorija[0]['rezultat'][0]['rezultat']['udeo']);
              $('#first-percentage-value-parl').text(Number(territorija[0]['rezultat'][0]['rezultat']['udeo']).toFixed(2)+"%");
              $('#second-percentage-value-parl').text(Number(territorija[0]['rezultat'][1]['rezultat']['udeo']).toFixed(2)+"%");
          {% else %}
              $('#first-kandidat-name').text(territorija[0]['rezultat'][0]['kandidat']);
              $('#second-kandidat-name').text(territorija[0]['rezultat'][1]['kandidat']);
              $('#first-nr-votes-pred').text(territorija[0]['rezultat'][0]['rezultat']['glasova'].toLocaleString());
              $('#second-nr-votes-pred').text(territorija[0]['rezultat'][1]['rezultat']['glasova'].toLocaleString());
              $('#first-progress-pred').css({width:territorija[0]['rezultat'][0]['rezultat']['udeo'], background:territorija[0]['rezultat'][0]['boja']});
              $('#second-progress-pred').css({width:territorija[0]['rezultat'][1]['rezultat']['udeo'], background:territorija[0]['rezultat'][1]['boja']});
              $('#first-percentage-value-pred').text(Number(territorija['rezultat'][0]['rezultat']['udeo']).toFixed(2)+"%");
              $('#second-percentage-value-pred').text(Number(territorija['rezultat'][1]['rezultat']['udeo']).toFixed(2)+"%");
          {% endif %}

      }

       function on_reinit_map_click(response,territory_selected_slug,candidate_selected,terrritory_selected){
            $('#territory-name').html('');
            $('#party-list').html('');
            var territorija=[];
            $('#territory-selected').show();
            $('#no-territory-selected').removeClass('col-md-12');
            $('#no-territory-selected').addClass('col-md-6');
            $('#piechart-no-territory-selected').hide();
            $(response['winners']).each(function(key,index){
                if(territory_selected_slug==index['teritorijaSlug']){
                    territorija.push(index);
                }
            })
            $('#tabs-other').html('');

            get_territory_name_percentage(territorija);

          $('#all-results').removeClass('disabled-link');
          $('#all-results').removeAttr('disabled');
          $('#all-results').addClass('btn-selected-territory');


          {% if typeizbori=="parlamentarni" %}
              $('#first-izborna-lista-name').text(territorija[0]['rezultat'][0]['izbornaLista']);
              $('#second-izborna-lista-name').text(territorija[0]['rezultat'][1]['izbornaLista']);

              $('#first-nr-votes-parla').text(territorija[0]['rezultat'][0]['rezultat']['glasova'].toLocaleString());
              $('#second-nr-votes-parla').text(territorija[0]['rezultat'][1]['rezultat']['glasova'].toLocaleString());
              $('#first-progress-parl').css({width:territorija[0]['rezultat'][0]['rezultat']['udeo']+"%", background:territorija[0]['rezultat'][0]['boja']});
              $('#second-progress-parl').css({width:territorija[0]['rezultat'][1]['rezultat']['udeo']+"%", background:territorija[0]['rezultat'][1]['boja']});
              $('#first-percentage-parl').text(territorija[0]['rezultat'][0]['rezultat']['udeo']);
              $('#first-percentage-value-parl').text(Number(territorija[0]['rezultat'][0]['rezultat']['udeo']).toFixed(2)+"%");
              $('#second-percentage-value-parl').text(Number(territorija[0]['rezultat'][1]['rezultat']['udeo']).toFixed(2)+"%");
              $('#first-izborna-lista-name,#first-nr-votes-parla,#first-percentage-value-parl').css('color',territorija[0]['rezultat'][0]['boja']);
              $('#second-izborna-lista-name,#second-nr-votes-parla,#second-percentage-value-parl').css('color',territorija[0]['rezultat'][1]['boja']);
          {% else %}
              $('#first-kandidat-name').text(territorija[0]['rezultat'][0]['kandidat']);
              $('#second-kandidat-name').text(territorija[0]['rezultat'][1]['kandidat']);
              $('#first-nr-votes-pred').text(territorija[0]['rezultat'][0]['rezultat']['glasova'].toLocaleString());
              $('#second-nr-votes-pred').text(territorija[0]['rezultat'][1]['rezultat']['glasova'].toLocaleString());
              $('#first-progress-pred').css({width:territorija[0]['rezultat'][0]['rezultat']['udeo'], background:territorija[0]['rezultat'][0]['boja']});
              $('#second-progress-pred').css({width:territorija[0]['rezultat'][1]['rezultat']['udeo'], background:territorija[0]['rezultat'][1]['boja']});
              $('#first-percentage-value-pred').text(Number(territorija['rezultat'][0]['rezultat']['udeo']).toFixed(2)+"%");
              $('#second-percentage-value-pred').text(Number(territorija['rezultat'][1]['rezultat']['udeo']).toFixed(2)+"%");
          {% endif %}

        winner_territory_info(response,territorija,candidate_selected)
      }
      function winner_territory_info(response,territorija,candidate_selected){
                $('.party_info').show();
                $('#party-territory-name').html('');
                $('#voters_turnout').html('');
                $('#winner-territory').html('');
                $('#winner-party').html('');

                $('#party-territory-name').text(territorija[0]['teritorija']);
               var izbornaLista=candidate_selected;
                var voters_turnout=territorija[0]['rezultat']['glasova'];
                var resigtered_voters=territorija[0]['brojUpisanihBiracaUBirackiSpisak'];
                var voters=territorija[0]['biraciKojiSuGlasali'];
                var percentage=(voters / resigtered_voters) * 100
                var result_votes;
                var percentage_votes;
                $('#voters_turnout').append('<b>Укупно Излазност: </b> <span style="float:right;margin-right:20px;">'+percentage.toFixed(2)+'%</span>');
                var candidate_name="";
                var i=0;
                   $(territorija).each(function(a,b) {
                                $(b).each(function (c, d) {
                                    $(d['rezultat']).each(function(e,f){
                                             if (candidate_selected==f['izbornaListaSlug']){
                                                        percentage_votes=f['rezultat']['udeo'];
                                                 candidate_name=f['izbornaLista'];
                                             }
                                    })

                                })
                            })


                $('#winner-territory').append("<span>"+candidate_name+"</span><span style='float:right;margin-right:20px'>"+ percentage_votes.toFixed(2)+"%</span>");

                var winner=territorija[0]['rezultat'][0]['izbornaLista'];
                 var winner_percentage=Number(territorija[0]['rezultat'][0]['rezultat']['udeo']).toFixed(2);
                $('#winner-party').append("<span style=''>победник: "+winner+"</span><span style='float:right;margin-right:20px;'>"+winner_percentage+"%</span>");
      }
      // end of map click
        //initiliaze map click
       function init_map(response){
        $('.party_info').hide();
            $.getJSON('{{ url_for("static",filename="data/serbia-municipality.geojson") }}', function (geojson) {
            var data = [];
            var i = 0;
                $.each(response['winners'], function( index, value ) {
                    data.push({
                        "teritorija": transliterate(value['teritorija']),
                        "terrigorySlug": transliterate(value['teritorijaSlug']),
                        "color": value['rezultat'][0]['boja'],
                        "izbornaLista": ""
                    });

                })
                $(response['candidates']).each(function(a,b){
                    $('#map-legend').append('<p style="float:left"><span style="width:20px;height:20px;margin-right:10px;margin-left:10px;float:left;background-color:'+b['boja']+'"></span><span>'+b['izbornaLista']+'</span></p>')
                })

            $('#containermap').highcharts('Map', {
                    title: {
                        text: ''
                    },
                    tooltip:{
                      'enabled':false
                    },
                    plotOptions: {
                        series: {
                            cursor: 'pointer',
                            point: {
                                events: {
                                 click: function () {
                                        var terrritory_selected=this.terrigorySlug;
                                        on_map_click(response,terrritory_selected);
                                    }
                                }
                            }
                        }
                    },
                    mapNavigation: {
                        enableMouseWheelZoom:false,
                        enabled: true,
                        buttonOptions: {
                            verticalAlign: 'bottom'
                        }
                    },
                    colorAxis: {
                        min: 0
                    },
                    series: [{
                        showInLegend: true,
                        data: data,
                        mapData: geojson,
                        joinBy: ['NAME_2','teritorija'],
                        keys: ['NAME_2', 'NAME_1'],
                        animation: true,
                        name: 'Teritorija',
                       {# dataLabels: {
                        enabled: true,
                        color: '#FFFFFF',
                        format: '{point.NAME_2}'
                    },#}
                    }]
                });
            });
       }



        // call functions on windows load
       $(window).load(function() {

                $(".loader").css("display", "none");
                $.ajax({
                    type: "GET",
                    url: "{{ url_for("static",filename="data/parlamentarni/") }}{{ year }}.json",
                    //url: "http://0.0.0.0:5006/api/izbori/2/{{ typeizbori }}/godina/{{ year }}/instanca/3/krug/{{ krug }}",
                    async: false,
                    dataType: 'json',
                    success: function (response) {

                        init_map(response);
                        init_summary_table(response);
                        init_details_table(response);
                        $('#summary,#details').DataTable({
                             "language": {
                                "url": "{{ url_for("static",filename="data/datatable_translate.json")}}"
                                 }
                        });



                        fill_html(response);
               },
               error: function (error) {
                   console.log(error);
               }
           });
       })
        // end of window load
        // restar results from beginning - no selections
        function init_results(){
                $('#containermap').html();
                $('#territory-selected').hide();
                $('#no-territory-selected').removeClass('col-md-6');
                $('#no-territory-selected').addClass('col-md-9');
                $('#piechart-no-territory-selected').show();
                $('.territory_info').hide();
                   $.ajax({
                    type: "GET",
                    url: "{{ url_for("static",filename="data/parlamentarni/") }}{{ year }}.json",
                    //url: "http://0.0.0.0:5006/api/izbori/2/{{ typeizbori }}/godina/{{ year }}/instanca/3/krug/{{ krug }}",
                    async: false,
                    dataType: 'json',
                    success: function (response) {
                        $('#map-legend').html('');
                        init_map(response);

               },
               error: function (error) {
                   console.log(error);
               }
           });

            }
              $('#all-results').click(function() {
                    $(this).addClass('disabled-link');
                    $(this).removeClass('btn-selected-territory');
                    $(this).attr('disabled', 'disabled');
                    init_results();
              })
            $('#start-map').on('click',function(){
               $('#party-list-names li a').removeClass('select-p-tab');

                 init_results();
            });

</script>
<style>
    .party_list_t{
        margin-top:10px;
        margin-bottom:0px;
        font-size:11px;height:25px
    }
    #party-color{
        font-size:10px;margin-left:10px;margin-right:10px;width:10px;height:30px;float:left;
      }
      #party-list-rez{
          float:right;margin-right:20px;
          }
</style>